<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <title>갤러리 > (사)아태평화교류협회</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="msapplication-TileColor" content="#ffffff " />
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff " />
    <link rel="manifest" href="/images/favicon/manifest.json" />
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/sub.css" />
    <link rel="stylesheet" media="(max-width: 1280px)" href="/css/media_1280.css" />
    <link rel="stylesheet" media="(max-width: 1024px)" href="/css/media_1024.css" />
    <link rel="stylesheet" media="(max-width: 800px)" href="/css/media_800.css" />
</head>

<body>
    <div id="wrap">
        <header id="header">
            <div class="header-block block">
                <div class="contact">
                    진실과 미래를 위한 한 걸음, 당신의 작은 나눔으로 시작됩니다.
                </div>
                <div class="login">
                    <i class="lock"></i><a href="#">후원하기</a>
                </div>
            </div>
        </header>
        <nav>
            <div class="nav-block block f4">
                <h1>
                    <a href="/">
                        <img src="/images/logo_3.png" alt="" />
                        <span>Logo</span>
                    </a>
                </h1>
                <ul>
                    <li>
                        <a href="#">협회소개</a>
                        <ul>
                            <li><a href="/introduce/greeting">인사말</a></li>
                            <li><a href="/introduce/history">연혁</a></li>
                            <li><a href="/introduce/purpose">협회 목적 및 사업 개요</a></li>
                            <li><a href="/introduce/map">조직도</a></li>
                            <li><a href="/introduce/company-certification">법인허가 및 사업자등록증</a></li>
                            <li><a href="/introduce/donate-certification">"지정기부금단체등" 등록</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">유골봉환</a>
                        <ul>
                            <li><a href="/people-return/process">유골봉환과정</a></li>
                            <li><a href="/people-return/first">1차 유골봉환</a></li>
                            <li><a href="/people-return/second">2차 유골봉환</a></li>
                            <li><a href="/people-return/third">3차 유골봉환</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">홍보관</a>
                        <ul>
                            <li><a href="/promote-house/biz-activity">사업활동</a></li>
                            <li><a href="/promote-house/company-activity">협회활동</a></li>
                            <li><a href="/promote-house/gallery">갤러리</a></li>
                            <li><a href="/promote-house/movie">동영상</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">관련자료</a>
                        <ul>
                            <li><a href="/data/company-data">관련자료</a></li>
                            <li><a href="/data/broadcast-data">보도자료</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">후원하기</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="container">
            <div class="main_img m1">
                <div class="title">
                    <h2 class="f1-upper">인사말</h2>
                    <div class="f3"><a href="#">HOME</a> / <a href="#">협회활동 </a></div>
                </div>
                <div class="background"></div>
            </div>
            <div id="section">
                <div class="section-greeting block-medium">
                    <div class="greeting_side">
                        <img src="http://via.placeholder.com/150x180" alt="협회장 사진" />
                        <div class="f3">회장 안부수</div>
                        <p>현) 사)아태 평화교류협회 회장
                        현) 재)아태 평화교류재단 이사장
                        현) 사)태평양전쟁 희생자 추모협회 회장(일본)
                        현) n)아태 평화포럼 이사장(일본)
                        현) 주)아태 그룹 회장</p>

                        <p>2012 한국을 빛낸 자랑스러운 한국인 대상 수상</p>

                        <p>2015 한국 사회를 빚낸 충효대상 대상 수상</p>

                        <p>2015 글로벌 자랑스러운 인물대상 대상 수상</p>

                        <p>2015 천지인 특별 대상</p>

                        <p>2016 대한민국을 빛낼 혁신 한국인 대상</p>

                        <p>2016 대한민국을 이끄는 혁신리더 84인 선정</p>

                        <p>2016 대한민국 혁신 인물 대상</p>
                    </div>
                    <div class="greeting_txt f5">
                        <p>안녕하십니까. (사)아태평화교류협회 <strong>회장 안부수</strong> 입니다.</p>
                        <p>광복 70주년, 작년 7월 5일 "일본이 메이지 시대 산업혁명의 유산이라며 유네스코 등재 신청한 23곳이 세계문화유산에 등재되었다"는 발표가 있었습니다. 그 중 나가사키 하시마 탄광(軍艦島)을 비롯한 7곳이 당시 수많이 조선인이 강제 동원되어, 많은 희생자가 발생한 시설입니다.</p>
                        <p>본 협회는 일본의 강제동원 시설 세계문화유산 등재 결사반대 범국민 서명운동을 전개하였지만 정부의 불투명한 협상으로 결국 등재가 되는 안타까움을 겪어야 했습니다. 광복 71주년이 되는 지금도 아시아·태평양 곳곳에는 강제동원 희생자들의 수많은 유해가 그리운 고국 땅, 고향을 그리며 억울하게 방치되어 있습니다.</p>
                        <p>2015년 11월 일본은 총리실산하 "역사 검정위원회"를 신설하여 대일항쟁기 강제동원, 위안부, 관동대지진 등의 전범 국가로서 수많은 진상과 만행을 왜곡시켜 미화시키려 작업에 들어갔지만, 우리 정부는 유일한 국가 피해 조사 기관인 국무총리 실산하에 "대일항쟁기 피해 조사 위원회"를 2015년 12월 말일에 폐지 시켜 버렸습니다.</p>
                        <p>우리는 일본이 강제동원을 부인하며 역사를 왜곡하여 미화시키고 있음을 잘 알고 있습니다. 이에 반하여 강제동원 피해 자료, 기록물 등 약 34만 건을 유네스코 세계기록유산에 등재하여 강제동원의 진상과 실태를 국제사회에 홍보하여 평화의 도구로 사용되기를 바라면서, 공존의 미래를 열어가기 위한 범국민 서명운동을 추진하여 왔지만 안타깝게도 대한민국 유네스코 심사위원들은 등재 심사에서 탈락 시켰습니다.</p>
                        <p>위안부 할머니들의 소원은 일본의 진정한 반성과 사과, 그리고 옛날의 힘없던 조국이 아닌 당당히 일본에 대적하여 호통칠 수 있는 강대국으로서의 모습을 보고 싶었을 것이라 생각하며, "과거를 잊어버린 민족에겐 미래가 없다"라는 말을 되새겨 봅니다. 강제동원 희생자들의 유해를 발굴하여 본국 송환은 물론, 추도탑과 추도공원을 반드시 건립하여 억울한 희생자들과 유족을 위로하여 인권을 중시하는 국제사회의 일원으로 국격의 모습을 갖추어야 될 것입니다.</p>
                        <p>당시 국내외 강제동원 총 인원은 약 800만으로 추정하며, 이중 해외로는 약 150만 명이 넘는 숫자가 강제로 동원되었고, 정신대(위안부) 동원은 약 20만으로 추정합니다. 하지만 우리는 억울한 희생자들을 추모하는 독립 묘역, 추모탑, 추모공원이 없는 안타까움에 본 협회가 앞장서 2015년 10월 5일 정부기관과 함께 강제동원 희생자 추모탑, 추모공원 건립 발대식을 추진하여 대국민 동참을 호소하고 있습니다.<br /> [(예) 이스라엘 홀로코스트 기념관]</p>
                        <p>강제동원 한국(조선)인 희생자 유해발굴 및 봉환, 그리고 추모공원 건립에 많은 관심과 협조를 부탁드리며, 후원을 아끼지 않으신 분들께 감사의 말씀을 전합니다.</p>
                    </div>

                </div>
            </div>
            
        </div>
    </div>

    <footer>
            <div class="footer-block block">
                <div class="footer_in">
                    <div class="addr">
                        <div class="logo_bottom">
                            <img src="/images/logo_2.png" alt="" />
                        </div>
                        <div class="footer_text">
                            <address><i class="fa fa-map-marker" aria-hidden="true"></i>138-809 서울특별시 강남구 선릉로 82길 46.103호</address>
                            <div><i class="fa fa-phone" aria-hidden="true"></i>Tel. 1899-2509 &nbsp; <i class="fa fa-envelope" aria-hidden="true"></i>Fax. 02-552-5894</div>
                            <div class="bank">후원계좌: 수협은행 1230-0047-8770</div>
                        </div>
                    </div>
                    <div class="icon">
                        <a href="#"><img src="/images/btn_sns_twitter.png" alt="페이스북 바로가기" title="새창" /></a>
                        <a href="#"><img src="/images/btn_sns_facebook.png" alt="페이스북 바로가기" title="새창" /></a>
                        <a href="#"><img src="/images/btn_sns_blog.png" alt="페이스북 바로가기" title="새창" /></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/common.js"></script>
    
    <a class="return-top" href="#top"><img src="/images/top_btn.png" alt="탑 버튼" /></a>
</body>

</html>

