<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <title>후원하기 > (사)아태평화교류협회</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="msapplication-TileColor" content="#ffffff " />
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff " />
    <link rel="manifest" href="/images/favicon/manifest.json" />
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/give_jquery.bxslider.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/sub.css" />
    <link rel="stylesheet" media="(max-width: 1280px)" href="/css/media_1280.css" />
    <link rel="stylesheet" media="(max-width: 1024px)" href="/css/media_1024.css" />
    <link rel="stylesheet" media="(max-width: 800px)" href="/css/media_800.css" />
</head>

<body>
    <div id="wrap">
        <header id="header">
            <div class="header-block block">
                <div class="contact">
                    진실과 미래를 위한 한 걸음, 당신의 작은 나눔으로 시작됩니다.
                </div>
                <div class="login">
                    <i class="lock"></i><a href="/donation">후원하기</a>
                </div>
            </div>
        </header>
        <nav>
            <div class="nav-block block f4">
                <h1>
                    <a href="/">
                        <img src="/images/logo_3.png" alt="" />
                        <span>Logo</span>
                    </a>
                </h1>

                <div class="m_mask">
                    <ul>
                        <li>
                            <a href="#">협회소개</a>
                            <ul>
                                <li><a href="/introduce/greeting">인사말</a></li>
                                <li><a href="/introduce/history">연혁</a></li>
                                <li><a href="/introduce/purpose">협회 목적 및 사업 개요</a></li>
                                <li><a href="/introduce/map">조직도</a></li>
                                <li><a href="/introduce/company-certification">법인허가 및 사업자등록증</a></li>
                                <li><a href="/introduce/donate-certification">"지정기부금단체등" 등록</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">유골봉환</a>
                            <ul>
                                <li><a href="/people-return/process">유골봉환과정</a></li>
                                <li><a href="/people-return/first">1차 유골봉환</a></li>
                                <li><a href="/people-return/second">2차 유골봉환</a></li>
                                <li><a href="/people-return/third">3차 유골봉환</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">홍보관</a>
                            <ul>
                                <li><a href="/promote-house/biz-activity">사업활동</a></li>
                                <li><a href="/promote-house/company-activity">협회활동</a></li>
                                <li><a href="/promote-house/gallery">갤러리</a></li>
                                <li><a href="/promote-house/movie">동영상</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">관련자료</a>
                            <ul>
                                <li><a href="/data/company-data">관련자료</a></li>
                                <li><a href="/data/broadcast-data">보도자료</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/donation">후원하기</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="container">
            <div id="container1">
                <div class="main_img m5">
                    <div class="title">
                        <h2 class="f1-upper">후원하기</h2>
                        <div class="f3"><a href="/">HOME</a> / <a href="#">후원하기</a></div>
                    </div>
                    <div class="background"></div>
                </div>
            </div>
            <div id="container2">
                <div id="section">
                    <div class="section-give f6">
                        <div class="give-slider block-medium">
                            <div class="give-slider_main">
                                <div><a href="javascripts:;"><img src="http://via.placeholder.com/1170x600"></a></div>
                                <div><a href="javascripts:;"><img src="http://via.placeholder.com/1170x600"></a></div>
                                <div><a href="javascripts:;"><img src="http://via.placeholder.com/1170x600"></a></div>
                            </div>
                            <div id="bx-pager">
                                <a data-slide-index="0" href=""><img src="http://via.placeholder.com/200x200" /></a>
                                <a data-slide-index="1" href=""><img src="http://via.placeholder.com/200x200" /></a>
                                <a data-slide-index="2" href=""><img src="http://via.placeholder.com/200x200" /></a>
                                <a data-slide-index="3" href=""><img src="http://via.placeholder.com/200x200" /></a>
                                <a data-slide-index="4" href=""><img src="http://via.placeholder.com/200x200" /></a>
                            </div>
                        </div>
                        <div class="give-wrap step1">
                            <div class="filter"></div>
                            <div class="give-step-bar">
                                <ol class="block">
                                    <li>STEP 1<br />정보입력</li>
                                    <li>STEP 2<br />결제선택</li>
                                    <li>STEP 3<br />후원완료</li>
                                </ol>
                            </div>
                            <div class="give-step-content block">
                                <div class="form_block block">
                                    <div class="all_form">
                                        <form class="info_form" name="후원자 정보 입력" method="post">
                                            <div class="check f6">
                                                <span>후원인 구분</span>
                                                <input type="radio" name="supporter" id="man" value="man" required checked /> <label for="man">개인</label>
                                                <input type="radio" name="supporter" id="group" value="group" required /> <label for="group">법인</label>
                                            </div>
                                            <div>
                                                <table class="sup_kind1 f6">
                                                    <tr>
                                                        <th><label for="man_name">이름</label></th>
                                                        <td><input type="text" name="name" id="man_name" required /></td>
                                                    </tr>
                                                    <tr>
                                                        <th><label for="man_birth">생년월일</label></th>
                                                        <td>
                                                            <input type="text" name="jumin_1" minlength="6" maxlength="6" id="man_birth" required placeholder="예)901111" /></td>
                                                    </tr>
                                                    <tr class="tel_width">
                                                        <th><label for="man_tel">핸드폰 번호</label></th>
                                                        <td>
                                                            <select id="man_tel" required>
                                                                 <option value="010">010</option>
                                                                 <option value="011">011</option>
                                                                 <option value="016">016</option>
                                                                 <option value="017">017</option>
                                                                 <option value="018">018</option>
                                                                 <option value="019">019</option>
                                                            </select> -
                                                            <input type="text" name="tel2" id="man_tel2" minlength="3" maxlength="4" required /> -
                                                            <input type="text" name="tel3" id="man_tel3" minlength="4" maxlength="4" required />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th><label for="man_email">이메일</label></th>
                                                        <td>
                                                            <input type='text' name="email_front" id="man_email" />@
                                                            <input type='text' name="email_back" id="man_email2" class="email_back" />
                                                            <select class="email_select" name="email_select">
                                                             <option value="">직접입력</option>
                                                             <option value="daum.net">daum.net</option>
                                                             <option value="empal.com">empal.com</option>
                                                             <option value="gmail.com">gmail.com</option>
                                                             <option value="hanmail.net">hanmail.net</option>
                                                             <option value="msn.com">msn.com</option>
                                                             <option value="naver.com">naver.com</option>
                                                             <option value="nate.com">nate.com</option>
                                                          </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th><label for="man_address">주소</label></th>
                                                        <td>
                                                            <div>
                                                               <input type="text" id="man_address1" readonly=readonly size="13" placeholder="우편번호" />
                                                                <input type="button" class="add_btn" value="찾기" />
                                                            </div>
                                                            <div>
                                                               <input type="text" id="man_address2" size="30" placeholder="주소" />
                                                                <input type="text" id="man_address3" size="30" placeholder="상세주소">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="check">
                                                        <th>메일/sns 정보 수신</th>
                                                        <td><input type="checkbox" name="sms" id="man_email1" checked />
                                                            <label for="man_email1">Email</label>
                                                            <input type="checkbox" name="sms" value="sms" id="man_email2" checked />
                                                            <label for="man_email2">SMS</label>
                                                            <input type="checkbox" name="sms" value="post" id="man_email3" checked />
                                                            <label for="man_email3">우편</label>
                                                        </td>
                                                    </tr>
                                                    <tr class="check">
                                                        <th>기부금 영수증</th>
                                                        <td>
                                                            <input type="radio" name="receipt" value="yes" id="man_receipt_yes" />
                                                            <label for="man_receipt_yes">예</label>
                                                            <input type="radio" name="receipt" value="no" id="man_receipt_no" checked />
                                                            <label for="man_receipt_no">아니오</label>
                                                        </td>
                                                    </tr>
                                                    <tr class="man_num">
                                                        <th><label for="man_num">주민등록번호</label></th>
                                                        <td>
                                                            <input type="text" name="man_num1" minlength="6" maxlength="6" id="man_num" required />
                                                            <span>-
                                                            <input type="password" name="man_num2" minlength="7" maxlength="7" id="man_num2" required /></span></td>
                                                    </tr>
                                                </table>
                                                <table class="sup_kind2 f6">
                                                    <tr>
                                                        <th><label for="group_name">기업명</label></th>
                                                        <td>
                                                            <input type="text" id="group_name" required />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th><label for="group_num">사업자 등록번호</label></th>
                                                        <td>
                                                            <input type="text" name="group_corporate" id="group_num" required />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th><label for="group_person">담당자 이름</label></th>
                                                        <td>
                                                            <input type="text" id="group_person" required />
                                                        </td>
                                                    </tr>
                                                    <tr class="tel_width">
                                                        <th><label for="group_tel">담당자 휴대폰번호</label></th>
                                                        <td>
                                                            <select id="group_tel" required>
                                                                 <option value="010">010</option>
                                                                 <option value="011">011</option>
                                                                 <option value="016">016</option>
                                                                 <option value="017">017</option>
                                                                 <option value="018">018</option>
                                                                 <option value="019">019</option>
                                                            </select> -
                                                            <input type="text" name="tel2" id="group_tel2" minlength="3" maxlength="4" required /> -
                                                            <input type="text" name="tel3" id="group_tel3" minlength="4" maxlength="4" required />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th><label for="group_email">담당자 이메일</label></th>
                                                        <td>
                                                            <input type='text' name="email_front" id="group_email" />@
                                                            <input type='text' name="email_back" id="group_email2" class="email_back" />
                                                            <select name="email_select" class="email_select">
                                                             <option value="">직접입력</option>
                                                             <option value="daum.net">daum.net</option>
                                                             <option value="empal.com">empal.com</option>
                                                             <option value="gmail.com">gmail.com</option>
                                                             <option value="hanmail.net">hanmail.net</option>
                                                             <option value="msn.com">msn.com</option>
                                                             <option value="naver.com">naver.com</option>
                                                             <option value="nate.com">nate.com</option>
                                                          </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th><label for="group_address">주소</label></th>
                                                        <td>
                                                            <div>
                                                               <input type="text" id="group_address1" size="13" placeholder="우편번호" />
                                                                <input type="button" class="add_btn" value="찾기" />
                                                            </div>
                                                            <div>
                                                               <input type="text" id="group_address2" size="30" placeholder="주소" />
                                                                <input type="text" id="group_address3" size="30" placeholder="상세주소" />
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="check">
                                                        <th>메일/sns 정보 수신</th>
                                                        <td><input type="checkbox" name="sms" value="email" id="group_email1" checked />
                                                            <label for="group_email1">Email</label>
                                                            <input type="checkbox" name="sms" value="sms" id="group_email2" checked />
                                                            <label for="group_email2">SMS</label>
                                                            <input type="checkbox" name="sms" value="post" id="group_email3" checked />
                                                            <label for="group_email3">우편</label>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="form_btn">
                                    <a href="#" class="next_btn f6">다음단계</a>
                                </div>
                            </div>
                        </div>
                        <div class="give-wrap step2">
                            <div class="filter"></div>
                            <div class="give-step-bar">
                                <ol class="block">
                                    <li>STEP 1<br />정보입력</li>
                                    <li>STEP 2<br />결제선택</li>
                                    <li>STEP 3<br />후원완료</li>
                                </ol>
                            </div>
                            <div class="give-step-content block">
                                <div class="all_form">
                                    <form method="post" class="info_form check">
                                        <table class="f6">
                                            <tr>
                                                <th>결제 방법</th>
                                                <td class="pay_check">
                                                    <input type="radio" name="pay" value="신용카드" id="pay_card" checked />
                                                    <label for="pay_card">신용카드</label>
                                                    <input type="radio" name="pay" value="계좌이체" id="pay_account" />
                                                    <label for="pay_account">계좌이체</label>
                                                    <input type="radio" name="pay" value="무통장입금" id="pay_without_bank" />
                                                    <label for="pay_without_bank">무통장입금</label>
                                                    <input type="radio" name="pay" value="휴대폰 결제" id="pay_tel" />
                                                    <label for="pay_tel">휴대폰 결제</label>
                                                    <input type="radio" name="pay" value="카카오페이" id="pay_cacao" />
                                                    <label for="pay_cacao">카카오페이</label>
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                                <div class="form_btn">
                                    <a href="#" class="next_btn f6">다음단계</a>
                                    <a href="#" class="cancel_btn f6">취소하기</a>
                                </div>
                            </div>
                        </div>
                        <div class="give-wrap step3">
                            <div class="filter"></div>
                            <div class="give-step-bar">
                                <ol class="block">
                                    <li>STEP 1<br />정보입력</li>
                                    <li>STEP 2<br />결제선택</li>
                                    <li>STEP 3<br />후원완료</li>
                                </ol>
                            </div>
                            <div class="give-step-content block">
                                <div class="all_form f6 form_btn">
                                    <div><br /> 후원이 정상적으로 처리 되었습니다.<br /> 감사합니다.</div>
                                    <a href="#" class="next_btn">후원완료</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-block block">
                <div class="footer_in">
                    <div class="addr">
                        <div class="logo_bottom">
                        </div>
                        <div class="footer_text f6">
                            <address><i class="fa fa-map-marker" aria-hidden="true"></i>138-809 서울특별시 강남구 선릉로 82길 46.103호</address>
                            <div><i class="fa fa-phone" aria-hidden="true"></i>Tel. 1899-2509 &nbsp; <i class="fa fa-envelope" aria-hidden="true"></i>Fax. 02-552-5894</div>
                            <div class="bank">후원계좌: 수협은행 1230-0047-8770</div>
                        </div>
                    </div>
                    <div class="icon">
                        <a href="#"><img src="/images/btn_sns_facebook.png" alt="페이스북 바로가기" title="새창" /></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/jquery.bxslider.min.js"></script>
    <script src="/javascripts/common.js"></script>
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js?autoload=false"></script>

    <a class="return-top" href="#top"><img src="/images/top_btn.png" alt="탑 버튼" /></a>

</body>
</html>
