/* Reset CSS */
* {
	margin: 0;
	padding: 0;
}

a {
	color: #fff;
	outline: none;
	text-decoration: none;
}

address {
	font-style: normal;
}

/* Default Layout */
body {
	font-family: "맑은 고딕", 'Malgun Gothic', dotum, sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #333;
	line-height: 1.4;
}

#wrap {
	position: relative;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

#container {
	width: 100%;
}

.block {
	width: 780px;
	margin: 0 auto;
}
.f1-upper {
    font-size: 40px;
}

.f1 {
	font-size: 30px;
	line-height: 1.5;
}
.f1-under {
	font-size: 22px;
}
.f2 {
	font-size: 20px;
}
.f3 {
	font-size: 17px;
	line-height: 1.5;
}
.f4 {
	font-size: 15px;
	line-height: 1.5;
}
.f5 {
	font-size: 14px;
	line-height: 1.5;
}
.f6 {
	font-size: 13px;
	line-height: 1.6;
}

.date{
	color: #0097c3;
}

.wave_img {
	height: 9px;
	margin: 10px auto 16px;
}

/* Header Layout */
#header {
	color: #fff;
	background: #000;
    position: fixed;
    width: 100%;
    z-index: 9991;
}

#header .header-block {
	min-height: 16px;
	padding: 4px 0;
}

#header .header-block div {
	float: left;
	min-height: 1px;
	line-height: 1.5em;
}

#header .header-block .contact {
	width: 66.6%;
}

#header .header-block .login {
	width: 33.3%;
	text-align: right;
}

/* Nav Layout */
nav {
    z-index: 99;
    position: absolute;
    top: 53px;
    width: 100%;
}

.nav-block {
    position: relative;
    min-height: 33px;
    margin-bottom: 13px;
}

.nav-block > h1 {
    float: left;
	margin: 0;
    padding: 0 8px;
}

.nav-block > h1 img {
    width: 200px;
}

.nav-block > h1 span {
    display: none;
}

.nav-block > ul {
    float: right;
    margin-right: 66px;
    position: relative;
    top: 10px;
}

.nav-block > ul > li {
    float: left;
    position: relative;
    display: block;
    margin-left: 22px;
	padding: 0 3px 1px;
    line-height: 2;
    text-align: center;
    font-weight: 700;
}

.nav-block > ul > li:after{
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -25px;
    display:inline-block;
    content:"";
    background-color: #fff;
    width: 50px;
    height: 3px;
    transition-property: bottom, background-color, opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
    opacity: 0;
}

.nav-block > ul > li.over:after{
    display: block;
    background-color: #0097c3;
    bottom: 0px;
    opacity: 1;
}

.nav-block > ul > li > ul {
    display: none;
    float: left;
    position: absolute;
    top: 100%;
    right: auto;
    width: auto;
    min-width: 100%;
	margin-top: 2px;
    padding: 20px 50px;
    text-align: center;
    font-weight: 400;
    background: rgba(6, 6, 6, 0.9);
}

.nav-block > ul > li:nth-child(1) > ul {
    left: -107px;
}
.nav-block > ul > li:nth-child(2) > ul {
    left: -58px;
}
.nav-block > ul > li:nth-child(3) > ul {
    left: -55px;
}
.nav-block > ul > li:nth-child(4) > ul {
    left: -50px;
}
.nav-block > ul > li:nth-child(5) {
	color: #fff;
	border: none !important;
	margin-top: -3px;
}
.nav-block > ul > li:nth-child(5) > a {
	font-size: 16px;
	color: #fff !important;
	background-color: #0097c3;
	padding: 6px 14px 4px;
}

.nav-block > ul > li:nth-child(5):hover a {
	color: #0097c3 !important;
	background-color: #fff;
	padding: 6px 14px 4px;
}

.nav-block > ul > li:nth-child(5):after {
	display: none;
}

.nav-block > ul > li > ul > li > a  {
    color: #b9b9b9;
    background-color: transparent;
    display: block;
    white-space: nowrap;
    clear: both;
}

.nav-block > ul > li:hover > a,
.nav-block > ul > li > a.active,
.nav-block > ul > li > ul > li > a.active{
    color: #0097c3;
}
.nav-block > ul > li:hover {
	padding-bottom: 0;
}
.nav-block > ul > li > ul > li.over > a {
    color: #0097c3;
}

.nav-block > ul > li.over > ul {
    display: block;
}

.nav-block > ul > li.over > ul > li {
    display: block;
    margin-bottom: 5px;
    line-height: 2;
    text-align: center;
}

/*============= board 부분 =============*/
.board_wrap {
	display: table;
    margin-bottom: 30px;
}

.board_wrap .board_data {
	display: table-cell;
	width: 32%;
	padding: 0 1%;
	color: #060606;
}

.board_wrap .board_data img {
	width: 100%;
}

.board_wrap .board_data > a {
	display: block;
	overflow: hidden;
}

.board_wrap .board_data > a {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
}

.board_wrap .board_data > a:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.board_wrap .board_data .title{
    margin: 38px 0 24px;
}

.board_wrap .board_data .title a{
    color:#333;
}

.board_wrap .board_data .title a:hover{
  transition-property: color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	color: #0097c3;
}

.board_wrap .board_data .title h3 {
	font-weight: 600;
	margin-bottom: 13px;
}

.board_wrap .board_data .btn a {
	display: inline-block;
	background-color: #0097c3;
	color: #fff;
	padding: 14px 29px;
	margin-top: 29px;
	text-align: center;
	font-weight: 600;
}

.board_wrap .board_data .btn a:hover {
	transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	background-color: #060606;
}

/*============= footer 부분 =============*/
footer {
	background-color: #060606;
	color: #fff;
}
.footer_in {
	padding: 39px 0;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}
.footer_in .addr {
	display: inline-block;
	margin-right: 200px;
}
.footer_in .addr .logo_bottom {
	display: inline-block;
	margin-right: 20px;
}
.footer_in .addr .footer_text {
	display: inline-block;
	line-height: 2;
	text-align: left;
	vertical-align: top;
}
.footer_in .addr .footer_text i {
	display: inline-block;
	width: 10px;
	padding: 0 10px;
}
.footer_in .addr .footer_text .bank {
	margin-left: 30px;
}
.footer_in .icon {
	display: inline-block;
	vertical-align: top;
}
.icon {
	display: inline-block;
}
.icon img {
	display: inline-block;
	width: 40px;
	padding: 0 0 0 5px;
}
.icon a:hover img {
	transform: scale(1.15);
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-o-transform: scale(1.15);
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
}
.icon a img {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
}
.return-top {
	position: fixed;
	z-index: 9990;
	right: 20px;
	bottom: 20px;
}
.return-top img {
	width: 55px;
}

/* ================================== main css 1280 ================================== */
/* Container Layout */
.slider {
	width: 100%;
}

.slider > div {
	position: relative;
	width: 100%;
	height: 533px;
}

.slider > div .background {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}

.slider > div:nth-child(1){
	background-color: #0097c3;
}
.slider > div:nth-child(1) .background{
	background-image: url('../images/slider01.jpg');
	opacity: 0.7;
}
.slider > div:nth-child(2) .background{
	background-image: url('../images/slider03.png');
}

.slider .text-block{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 533px;
	margin: -86px 0 0 -266px;
	color: #fff;
	text-align: center;
}

.slider .text-block.v2{
	position: absolute;
	top: 40%;
	left: auto;
	right: 22%;
	text-align: right;
}

.slider .text-block strong{
	display: block;
	margin-bottom: 20px;
}

.slider .text-block .btn a {
	display: inline-block;
	border: solid 3px #fff;
	margin-top: 40px;
	padding: 10px 25px 10px;
}

.slider .text-block .btn a:hover {
	background-color: #0097c3;
	border-color: #0097c3;;
}

/*============= 협회 소개 =============*/
#intro {
	background-color: #fff;
}

.intro-block {
	display: table;
	margin: 90px auto 80px;
	text-align: center;
	background-color: #fff;
	overflow: hidden;
}

.intro-block img {
	width: 100%;
}

.intro_img,
.intro_txt {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
}

.intro_img {
	padding: 0 2% 0 1%;
}

.intro_txt {
	text-align: left;
	color: #666666;
	padding: 0 1% 0 2%;
}

.intro_txt h2 {
	color: #060606;
}

.intro_txt strong {
	color: #666;
}

.intro_txt p {
	margin-top: 15px;
}

.intro_txt a:hover {
	transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	background-color: #060606;
}

.intro_txt .btn_intro {
	padding: 12px 25px;
	margin-top: 20px;
	background-color: #0097c3;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-weight: 600;
}

/*============= 3개의 아이콘그림 부분 =============*/
#ico {
	width: 100%;
	padding: 88px 0 84px 0;
	background-color: #f2f2f2;
	text-align: center;
}

.ico_txt {
	display: inline-block;
	width: 13%;
	margin: 0 9%;
}

.ico_txt a {
	display: inline-block;
	padding: 6px;
}

.ico_txt a:link,
.ico_txt a:visited {
	font-size: 20px;
	line-height: 33px;
	color: #060606;
	font-weight: 700;
}

.ico_txt a:hover {
	transition-property: color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	color: #0097c3;
}

.ico_txt img {
	width: 100%;
	margin-bottom: 5px;
}

/*============= 협회 활동 =============*/
#act {
	background-color: #fff;
	position: relative;
}

.act-block {
	position: relative;
	padding: 62px 0 38px;
}
.act-list:after {
	clear: both;
    content: "";
}
.act_title {
	margin: 0 auto;
	text-align: center;
	color: #060606;
	margin-bottom: 31px;
}

.act_title h2 {
	margin-bottom: 0;
}

.act_title p {
	display: inline-block;
	min-height: 28px;
	letter-spacing: 0.1px;
}

/*============= 후원하기 영역 =============*/
.patronize {
	position: relative;
	background: #030303;
	color: #fff;
}
.patronize:before,
.patronize:after {
	display: table;
	line-height: 0;
	content: "";
}
.patronize:after {
	clear: both;
	display: table;
	line-height: 0;
	content: "";
}
.patronize>div {
	width: 50%;
}
.patronize .text-block {
	float: left;
}
.patronize .text-block:after {
	clear: both;
	display: table;
	line-height: 0;
	content: "";
}
.patronize .text-block section {
	float: right !important;
	max-width: 100%;
	width: 560px;
	padding: 148px 0 157px;
	font-size: 14px;
}
.patronize .text-block section:after {
	clear: both;
	display: table;
	line-height: 0;
	content: "";
}
.patronize .text-block section h2 {
	max-width: 436px;
	line-height: 1.35;
}
.patronize .text-block section p {
	line-height: 1.9;
	max-width: 465px;
}
.patronize .text-block section .button a {
	display: inline-block;
	margin-top: 22px;
	padding: 30px 49px;
	background: #0097c3;
	text-align: center;
	font-weight: 600;
}
.patronize .text-block section .button a:hover {
	transition-property: background-color color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	background-color: #fff;
	color: #0097c3;
}
.patronize .img-block {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	padding-left: 25px;
}
.patronize .img-block div {
	height: 100%;
	margin: 0 -15px;
	background-image: url('../images/korea flags_01.png');
	background-repeat: no-repeat;
	background-position: 0 61%;
	background-size: cover;
}

/*============= 하단 갤러리 =============*/
.main-gallery:after {
	clear: both;
	display: table;
	line-height: 0;
	content: "";
}
.main-gallery ul li {
	float: left;
	display: inline-block;
	position: relative;
	width: 12.5%;
    height: 200px;
    overflow: hidden;
    background-image: url('http://placehold.it/200x200');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-gallery ul li:nth-child(2) {
    background-image: url('../images/detail_txt.jpg');
}

.main-gallery ul li a {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.main-gallery ul li i {
	display: none;
	position: absolute;
	margin-top: 33%;
	left: 40%;
	border-radius: 50%;
	background-clip: padding-box;
	background-color: #0097c3;
	padding: 7%;
}

.main-gallery ul li:hover, .main-gallery ul li:hover i {
	z-index: 1;
	display: inline-block;
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.main-gallery .detail_photo {
    display: none;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.6);
}
.main-gallery .detail_photo .photo_table {
	display: table;
	width: 100%;
	height: 100%;
}
.main-gallery .detail_photo .photo_cell {
	display: table-cell;
	vertical-align: middle;
}
.main-gallery .detail_photo .photo_item {
	position: relative;
	display: inline-block;
	max-width: 70%;
	max-height: 700px;
}
.main-gallery .detail_photo .photo_item.limit {
	height: 700px;
}
.main-gallery .detail_photo .photo_item i{
    font-size: 70px;
    position: absolute;
	bottom: -85px;
    right: -85px;
    color: #fff;
}
.main-gallery .detail_photo .photo {
	width: 100%;
	height: 100%;
	padding: 15px;
	overflow-y: scroll;
	background: #fff;
}
.main-gallery .detail_photo .photo img {
	width: 100%;
}

