/* Reset CSS */
* {
	margin: 0;
	padding: 0;
}

a {
	color: #fff;
	outline: none;
	text-decoration: none;
}

address {
	font-style: normal;
}

/* Default Layout */
body {
	font-family: "맑은 고딕", 'Malgun Gothic', dotum, sans-serif;
	font-weight: 400;
	font-size: 10px;
	color: #333;
	line-height: 1.4;
}

#wrap {
	position: relative;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

#container {
	width: 100%;
}

.block {
	width: 100%;
	margin: 0 auto;
}

.block-medium {
	width: 100%;
	margin: 0 auto;
}

.f1-upper {
    font-size: 40px;
}
.f1 {
	font-size: 28px;
	line-height: 1.7;
}
.f1-under {
	font-size: 22px;
}
.f2 {
	font-size: 20px;
}
.f3 {
	font-size: 17px;
	line-height: 1.5;
}
.f4 {
	font-size: 16px;
	line-height: 1.5;
}
.f5 {
	font-size: 15px;
	line-height: 1.5;
}
.f6 {
	font-size: 14px;
	line-height: 1.5;
}
.f7 {
  font-size: 12px;
	line-height: 1.6;
}

.date{
	color: #0097c3;
}

.wave_img {
	height: 5px;
	margin: 4px auto 8px;
}

/* Header Layout */
#header {
	display: none;
	color: #fff;
	background: #000;
  position: fixed;
	bottom: 10%;
	right: 15px;
	width: 32px;
	height: 32px;
	border-radius: 32px;
	overflow: hidden;
  z-index: 9991;
}

#header .header-block {
	  font-size: 9px;
		min-height: 15px;
		padding: 3px 0;
		display: inline-block;
		width: 100%;
}

#header .header-block div {
	float: left;
	min-height: 1px;
	line-height: 1.5em;
}

#header .header-block .contact {
	width: 66.6%;
	display: none;
}

#header .header-block .login {
	width: auto;
	text-align: center;
	line-height: 32px;
}
#header .header-block .login:before {
	text-align: center;
	content:"\f004";
	color: #ff0000;
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size: 20px;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	width: 100%;
	vertical-align: middle;
}
#header .header-block .login a {
	color: #000;
}

/* Nav Layout */
nav {
    z-index: 9999;
    position: absolute;
    top: 15px;
    width: 100%;
}

.nav-block {
    position: relative;
    min-height: 20px;
    margin-bottom: 4px;
		display: inline-block;
}

.nav-block:after {
	position: absolute;
	right: 15px;
	text-align: center;
	content:"\f0c9";
	color: #fff;
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size: 40px;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
.nav-block.close:after {
	z-index: 9999;
	content:"\f00d";
}
.nav-block > h1 {
    float: left;
		margin: 0;
    padding: 0 5px;
}

.nav-block > h1 img {
    width: 140px;
		display: none;
}

.nav-block > h1 a {
		display: inline-block;
}

.nav-block > h1 span {
    display: none;
}

.nav-block > .m_mask {
		display: none;
		z-index: 9990;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		background-color: #060606;
}

.nav-block > .m_mask > ul {
		display: block;
    float: none;
    margin-right: 0;
		position: absolute;
		text-align: center;
		width: 100%;
		top: 68px;
		z-index: 9990;
		list-style-type: none;
		overflow: hidden;
}

.nav-block > .m_mask > ul > li {
    float: none;
    position: relative;
    display: list-item;
    margin-left: 0;
		padding: 0;
    line-height: normal;
    text-align: center;
    font-weight: normal;
}

.nav-block > .m_mask > ul > li:after{
    display: none;
}

.nav-block > .m_mask > ul > li.over:after{
    display: none;
}

.nav-block > .m_mask > ul > li > a {
    display: block;
    position: relative;
    z-index: 9992;
    background-color: #0097c3;
    border-bottom: 1px solid #060606;
    color: #fff;
    font-size: 16px;
    padding: 12px 0;
}

.nav-block > .m_mask > ul > li > ul {
    display: block;
    float: inherit;
    position: relative;
    top: auto;
    right: auto;
    width: auto;
    min-width: auto;
    padding: 0;
    text-align: center;
    font-weight: normal;
    background: none;
		height: 0;
    transition-property: height;
    transition-duration: 0.5s;
    background-color: #000;
}

.nav-block > .m_mask > ul > li:nth-child(1) > ul {
    left: auto;
		z-index: 1;
}
.nav-block > .m_mask > ul > li:nth-child(2) > ul {
    left: auto;
		z-index: 2;
}
.nav-block > .m_mask > ul > li:nth-child(3) > ul {
    left: auto;
		z-index: 3;
}
.nav-block > .m_mask > ul > li:nth-child(4) > ul {
    left: auto;
		z-index: 4;
}
.nav-block > .m_mask > ul > li:nth-child(5) {
	color: inherit;
	border: none !important;
	margin-top: 0;
}
.nav-block > .m_mask > ul > li:nth-child(5) > a {
	font-size: 18px;
	color: #0097c3 !important;
	background-color: #fff;
	font-weight: 600;
	padding: 12px 0;
}

.nav-block > .m_mask > ul > li:nth-child(5):hover a {
	color: #0097c3 !important;
	background-color: #fff;
	padding: 12px 0;
}

.nav-block > .m_mask > ul > li:nth-child(5):after {
	display: none;
}

.nav-block > .m_mask > ul > li > ul > li > a  {
    color: #666;
    background-color: transparent;
    display: block;
    white-space: nowrap;
    clear: both;
		font-size: 14px;
		padding: 8px 0;
}

.nav-block > .m_mask > ul > li:hover > a,
.nav-block > .m_mask > ul > li > a.active,
.nav-block > .m_mask > ul > li > ul > li > a.active{
    color: #fff;
}
.nav-block > .m_mask > ul > li > ul > li.over > a {
    color: #666;
}
.m_mask > ul > li > ul > li:first-child a, .m_mask > ul > li > ul > li:last-child a {
	padding-top: 16px;
}

.nav-block > .m_mask > ul > li > ul {
    display: block;
}

.nav-block > .m_mask > ul > li > ul > li {
    display: block;
    margin-bottom: 5px;
    line-height: 2;
    text-align: center;
}
.nav-block > .m_mask > ul > li.over > ul > li {
		margin-bottom: 0;
		line-height: 1.7;
}
.nav-block > .m_mask > ul > li > ul > li {
		margin-bottom: 0;
		line-height: 1.7;
}

.m_mask > ul > li:nth-child(1) > ul.open {
    z-index: 1;
    position: relative;
    display: block;
    height: 256px;
}
.m_mask > ul > li:nth-child(2) > ul.open {
    z-index: 2;
    position: relative;
    display: block;
    height: 176px;
}
.m_mask > ul > li:nth-child(3) > ul.open {
    z-index: 3;
    position: relative;
    display: block;
    height: 176px;
}
.m_mask > ul > li:nth-child(4) > ul.open {
    z-index: 4;
    position: relative;
    display: block;
    height: 96px;
}

/*============= board 부분 =============*/
.board_wrap {
		display: initial;
    margin-bottom: 25px;
		text-align: center;
}

.board_wrap .board_data {
	display: block;
	width: 100%;
	margin-bottom: 50px;
	color: #060606;
}

.board_wrap .board_data img {
	width: 100% !important;
	height: auto !important;
}

.board_wrap .board_data > a {
	display: inline-block;
	width: 100%;
	height: auto !important;
	max-height: 200px;
	overflow: hidden;
}

.board_wrap .board_data > * {
	display: inline-block;
	width: 100%;
	text-align: left;
}

.board_wrap .board_data > a {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
}

.board_wrap .board_data > a:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.board_wrap .board_data .title{
    margin: 11px 0 7px;
		width: 90%;
}

.board_wrap .board_data .title a{
    color:#333;
}

.board_wrap .board_data .title a:hover{
  transition-property: color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	color: #0097c3;
}

.board_wrap .board_data .title h3 {
	font-weight: 600;
	margin-bottom: 1px;
}
.board_wrap .board_data p {
	width: 90%;
}

.board_wrap .board_data .btn {
	display: none;
}

.board_wrap .board_data .btn a {
	display: inline-block;
	background-color: #0097c3;
	color: #fff;
	padding: 5px 12px;
	margin-top: 13px;
	text-align: center;
	font-weight: 600;
}

.board_wrap .board_data .btn a:hover {
	transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	background-color: #060606;
}

/*============= 갤러리 =============*/
.main-gallery:after {
	clear: both;
	display: table;
	line-height: 0;
	content: "";
}
.main-gallery ul li {
	float: left;
	display: inline-block;
	position: relative;
	width: 25%;
    height: 83px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-gallery ul li a {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.main-gallery ul li i {
	display: none;
	position: absolute;
	margin-top: 33%;
	left: 40%;
	border-radius: 50%;
	background-clip: padding-box;
	background-color: #0097c3;
	padding: 7%;
}

.main-gallery ul li:hover, .main-gallery ul li:hover i {
	z-index: 1;
	display: inline-block;
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.main-gallery ul li:hover i {
	display: none;
}

.detail_photo {
    display: none;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.6);
}
.detail_photo .photo_table {
	display: table;
	width: 100%;
	height: 100%;
}
.detail_photo .photo_cell {
	display: table-cell;
	vertical-align: middle;
}
.detail_photo .photo_item {
	position: relative;
	display: inline-block;
	max-width: 70%;
	max-height: 291px;
}
.detail_photo .photo_item.limit {
	height: 291px;
}
.detail_photo .photo_item i{
    font-size: 29px;
    position: absolute;
	bottom: -35px;
    right: -35px;
    color: #fff;
}
.detail_photo .photo {
	width: 100%;
	height: 100%;
	padding: 6px;
	overflow-y: scroll;
	background: #fff;
}
.detail_photo .photo img {
	width: 100%;
}


/*============= footer 부분 =============*/
footer {
	background-color: #060606;
	color: #fff;
}
.footer_in {
	padding: 12px 0;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}
.footer_in .addr {
	display: inline-block;
	margin-right: 0;
}
.footer_in .addr .logo_bottom {
	display: inline-block;
    width: 15%;
	margin-right: 5px;
}
.footer_in .addr .footer_text {
	display: inline-block;
	line-height: 2;
	text-align: center;
	vertical-align: top;
}
.footer_in .addr .footer_text i {
	display: inline-block;
	width: 4px;
	padding: 0 8px;
	margin-right: 6px;
}
.footer_in .addr .footer_text .bank {
	margin-left: 19px;
}
.footer_in .icon {
	display: block;
	vertical-align: top;
	padding: 20px 0 15px;
}
.icon {
	display: inline-block;
}
.icon img {
	display: inline-block;
	width: 7%;
	padding: 0 0 0 2px;
	position: static;
}
.icon a:hover img {
	transform: scale(1.15);
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-o-transform: scale(1.15);
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
}
.icon a img {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
}
.return-top {
	position: fixed;
    display: none;
	z-index: 9990;
	right: 10px;
	bottom: 10px;
}
.return-top img {
	width: 40px;
}


/* Container Layout */
.slider {
	width: 100%;
}

.slider > div {
	position: relative;
	width: 100%;
	height: 340px;
}

.slider > div .background {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}

.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
    bottom: 13px;
}

.slider > div:nth-child(1){
	background-color: #0097c3;
}
.slider > div:nth-child(1) .background{
	background-image: url('../images/slider01.jpg');
	opacity: 0.7;
}
.slider > div:nth-child(2) .background{
	background-image: url('../images/slider03.png');
}

.slider .text-block{
	position: absolute;
	top: 50%;
	left: 0%;
	width: 100%;
	margin: -70px 0 0 0;
	color: #fff;
	text-align: center;
}

.slider .text-block.v2{
	position: absolute;
	top: 40%;
	left: auto;
	right: 22%;
	text-align: right;
}

.slider .text-block strong{
	display: block;
	margin-bottom: 16px;
}

.slider .text-block .btn a {
	display: inline-block;
	border: solid 2px #fff;
	margin-top: 24px;
	padding: 8px 20px 7px;
}

.slider .text-block .btn a:hover {
	background-color: #0097c3;
	border-color: #0097c3;
}

/*============= 협회 소개 =============*/
#intro {
	background-color: #fff;
}

.intro-block {
	display: table;
	margin: 56px auto 50px;
	text-align: center;
	background-color: #fff;
	overflow: hidden;
}

.intro-block img {
	width: 100%;
}

.intro_img,
.intro_txt {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
}

.intro_img {
	padding: 0 2% 0 1%;
}

.intro_txt {
	text-align: left;
	color: #666666;
	padding: 0 1% 0 2%;
}

.intro_txt h2 {
	color: #060606;
}

.intro_txt strong {
	color: #666;
}

.intro_txt p {
	margin-top: 8px;
}

.intro_txt a:hover {
	transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	background-color: #060606;
}

.intro_txt .btn_intro {
	padding: 8px 17px;
	margin-top: 10px;
	background-color: #0097c3;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-weight: 600;
}

/*============= 3개의 아이콘그림 부분 =============*/
#ico {
	width: 100%;
	padding: 55px 0 52px 0;
	background-color: #f2f2f2;
	text-align: center;
}

.ico_txt {
	display: inline-block;
	width: 13%;
	margin: 0 9%;
}

.ico_txt a {
	display: inline-block;
	padding: 4px;
}

.ico_txt a:link,
.ico_txt a:visited {
	font-size: 11.5px;
	line-height: 13px;
	color: #060606;
	font-weight: 700;
}

.ico_txt a:hover {
	transition-property: color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	color: #0097c3;
}

.ico_txt img {
	width: 100%;
	margin-bottom: 5px;
}

/*============= 협회 활동 =============*/
#act {
	background-color: #fff;
	position: relative;
}

.act-block {
	position: relative;
	padding: 51px 0 31px;
}
.act-list:after {
	clear: both;
    content: "";
}
.act_title {
	margin: 0 auto;
	text-align: center;
	color: #060606;
	margin-bottom: 27px;
	margin-bottom: 27px;
	margin-bottom: 27px;
}

.act_title h2 {
	margin-bottom: 0px;
}

.act_title p {
	display: inline-block;
	min-height: 22px;
	letter-spacing: 0.1px;
}

/*============= 후원하기 영역 =============*/
.patronize {
	position: relative;
	background: #030303;
	color: #fff;
}
.patronize:before,
.patronize:after {
	display: table;
	line-height: 0;
	content: "";
}
.patronize:after {
	clear: both;
	display: table;
	line-height: 0;
	content: "";
}
.patronize>div {
	width: 50%;
}
.patronize .text-block {
	float: left;
}
.patronize .text-block:after {
	clear: both;
	display: table;
	line-height: 0;
	content: "";
}
.patronize .text-block section {
	float: right !important;
	max-width: 100%;
	width: 100%;
	padding: 61px 0 65px;
}
.patronize .text-block section:after {
	clear: both;
	display: table;
	line-height: 0;
	content: "";
}
.patronize .text-block section h2 {
	max-width: 100%;
	line-height: 1.35;
}
.patronize .text-block section p {
	line-height: 1.9;
	max-width: 100%;
}
.patronize .text-block section .button a {
	display: inline-block;
	margin-top: 9px;
	padding: 12px 20px;
	background: #0097c3;
	text-align: center;
	font-weight: 600;
}
.patronize .text-block section .button a:hover {
	transition-property: background-color color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	background-color: #fff;
	color: #0097c3;
}
.patronize .img-block {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	padding-left: 4px;
}
.patronize .img-block div {
	height: 100%;
	margin: 0 -4px;
	background-image: url('../images/korea flags_01.png');
	background-repeat: no-repeat;
	background-position: 0 61%;
	background-size: cover;
}



/*========================== sub common 파일 시작 ==========================*/
/* Nav Layout */
.main_img {
    width: 100%;
    color: #fff;
    background-position: center;
    background-size: cover;
    background-color: #333;
}

.main_img .title {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 64px 0 37px;
}

.title h2 {
    color: #fff;
    font-weight: 400;
}

#container1 > .title {
    position: relative;
    color: #fff;
    word-spacing: 6px;
}

.background {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.m1 {
     background-image: url('../images/m1_banner.png');
}
.m2 {
     background-image: url('../images/m2_banner.png');
}
.m3 {
     background-image: url('../images/m3_banner.png');
}
.m4 {
     background-image: url('../images/m4_banner.png');
}
.m5 {
     background-image: url('../images/m5_banner.png');
}


/*============= 본문 영역 =============*/
#section {
    background-color: #fff;
}
/*========================== sub common 파일 끝 ==========================*/




/*========================== board 파일 시작 ==========================*/

/*============= 협회 활동 =============*/

.section_board {
    margin: 51px auto 33px;
}

/* 하단 페이지 숫자 */

.page {
    margin: 0 auto 41px;
    text-align: center;
}

.page > a:nth-child(1) {
    color: #0097c3;
}

.page a {
    display: inline-block;
    color: #060606;
    margin: 0 6px;
    font-weight: 600;
}

.page a:hover {
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    color: #0097c3;
}

/*========================== board 파일 끝 ==========================*/




/*========================== detail_page 파일 시작 ==========================*/

.section-detail {
    margin: 59px auto 0;
}

.section-detail .detail_title {
    text-align: center;
    line-height: 1.5;
}

.section-detail .detail_txt {
    width: 100%;
    padding: 16px 0 58px 0px;
    text-align: left;
    margin: 0 auto;
}

.section-detail .detail_txt img {
    padding-bottom: 10px;
    width: 90%;
		margin: 0 5%;
}

.section-detail .detail_txt > ul {
    list-style-type: none;
    color: #666666;
}

.section-detail .detail_txt > ul > li {
    padding-bottom: 10px;
    line-height: 1.5;
}

.section-detail .date {
    padding: 3px 6px;
    margin: 3px;
    font-weight: 600px;
    text-align: center;
    color: #0097c3;
}

/*========================== detail_page 파일 끝 ==========================*/




/*========================== gallery 파일 시작 ==========================*/

.section-gallery {
    margin-top: 61px;
}

.section-gallery ul {
    margin-bottom: 12px;
    list-style-type: none;
}

.section-gallery ul li {
    width: 100%;
    display: inline-block;
		margin: 11px 0;
}

.section-gallery ul li a {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto !important;
    max-height: 200px;
    overflow: hidden;
}


.section-gallery ul li p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    padding: 0 5%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}

.section-gallery ul li i {
    display: none;
    z-index: 99;
    position: absolute;
    top: 43%;
    left: 43%;
    border-radius: 50%;
    background-clip: padding-box;
    background-color: #0097c3;
    padding: 7%;
}

.section-gallery ul li:hover i {
    display: inline-block;
}

.section-gallery ul li a:hover {
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.section-gallery ul li a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.section-gallery .page {
    margin-top: 25px;
}
/*========================== gallery 파일 끝 ==========================*/




/*========================== movie 파일 시작 ==========================*/

.movie {
    width: 100%;
    margin: 61px auto 25px;
}

.section_list_movie {
    margin: 0 auto 25px;
    padding-bottom: 25px;
    border-bottom: solid 2px #f2f2f2;
    list-style-type: none;
    color: #060606;
}
.section_list_movie > p {
    width: 90%;
		margin: 0 auto;
}
.section_list_movie > div {
    width: 90%;
		margin: 0 auto;
}


.section_list_movie .section_date_movie {
    color: #0097c3;
    font-weight: 600px;
}

.section_color_movie .date {
    margin-top: 4px;
}

.section_list_movie p {
    color: #666666;
    line-height: 1.85;
    padding-top: 9px;
    margin: 1px auto 6px;
}
/*========================== movie 파일 끝 ==========================*/




/*========================== goal 협회목적 및 사업 시작 ==========================*/
.section-goal {
    padding: 61px 0 52px 0;
		width: 90%;
    line-height: 1.85;
}

.section-goal > div {
    padding: 12px;
    margin-bottom: 30px;
    position: relative;
    border: 3px solid #0097c3;
    border-radius: 30px;
}

.section-goal > div:nth-child(2n) {
    border-color: #f4847c;
}

.section-goal > div h2 {
    padding-bottom: 4px;
}

/*========================== goal 협회목적 및 사업 끝 ==========================*/




/*========================== error_page 시작 ==========================*/
.section-error {
    min-height: 41px;
    text-align: center;
    padding: 61px 0 80px;
    line-height: 1.8;
    margin: 0 auto;
}

.error_img {
    width: 100%;
    min-height: 125px;
    background-image: url('../images/error_bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.section-error i {
    margin-right: 0px;
}

.section-error i,
.section-error p {
    display: inline-block;
    padding: 5px;
}

.section-error p span {
    color: #0097c3;
}

.line span {
		display: block;
		width: 90%;
		margin: 0 auto;
    padding: 0;
}

.line {
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

.section-error > div {
    padding: 0 5%;
    margin: 2px;
    text-align: center;
}

.error_img {
    display: none;
    text-align: center;
}

.error_img > a {
    position: relative;
    top: 33px;
    background-color: #333;
    color: #fff;
    padding: 6px 12px;
    font-weight: 600;
}

.error_img > a:hover {
    transition-property: background-color color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    background-color: #fff;
    color: #0097c3;
}
/*========================== error_page 끝 ==========================*/




/*========================== write_content 시작 ==========================*/
.section_write {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}

.section_write label {
    display: inline-block;
    padding-right: 15px;
    padding-bottom: 20px;
}

.section_write > select {
    padding: 1px 15px;
    margin-right: 100px;
}

.section_write .title {
    width: 350px;
    text-align: center;
}

.section_write .thumb_img {
    margin: 0 auto;
    display: inline-block;
    float: left;
}

.section_write .thumb_upload {
    float: left;
    margin-left: ;
    padding-top: 1px;
}

.section_write .file_upload {
    margin-top: 30px;
    padding-bottom: 20px;
}

.section_write .radio {
    width: 100%;
    max-height: 10px;
    text-align: left;
    padding-bottom: 20px;
}

.section_write .radio input label {
    padding-right: 50px;
}

.section_write .radio input[type="radio"],
.radio-inline input[type="radio"] {
    margin-left: 0px;
}

.section_write .radio span {
    font-weight: 700;
    padding-right: 15px;
}

.file_upload a {
    margin-left: -400px;
}

.btn_upload {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn_upload:hover {
    color: #ffffff;
    background: #1fb4ff;
    background-image: -webkit-linear-gradient(top, #1fb4ff, #006eb8);
    background-image: -moz-linear-gradient(top, #1fb4ff, #006eb8);
    background-image: -ms-linear-gradient(top, #1fb4ff, #006eb8);
    background-image: -o-linear-gradient(top, #1fb4ff, #006eb8);
    background-image: linear-gradient(to bottom, #1fb4ff, #006eb8);
    text-decoration: none;
    text-decoration: none;
}

.btn-concrete {
    background-color: #7e8c8d;
    -webkit-box-shadow: 0 3px 0 #4e5b5c;
    box-shadow: 0 3px 0 #4e5b5c;
}

.btn-concrete:hover {
    background-color: #6a7879;
    text-decoration: none;
    color: #000;
}

.btn-concrete:active {
    top: 3px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-concrete {
    font-size: 18px;
    white-space: nowrap;
    width: 100%;
    padding: .8em 1.5em;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    line-height: 18px;
    display: block;
    zoom: 1;
    color: #fff;
    text-align: center;
    position: relative;
    margin: 0 auto;
    -webkit-transition: color .25s linear, background-color .25s linear;
    transition: color .25s linear, background-color .25s linear;
}

/*========================== write_content 끝 ==========================*/



/*========================== history(연혁 및 본부) / license(법인허가) 시작 ==========================*/
.section-history, .section-or {
    width: 90%;
    padding: 61px 0 52px 0;
    text-align: center;
}

.section-history img, .section-or img {
    width: 100%;
}

.section-or img {
    width: 100%;
    border: 2px solid #b1b1b1;
    box-shadow: 2px 2px 4px #cecece;
}

.section-or img:nth-child(1) {
    margin-bottom: 41px;
}

/*========================== history(연혁 및 본부) 끝 ==========================*/



/*========================== greeting(인사말) 시작 ==========================*/
.section-greeting {
		width: 100%;
    margin: 0 auto;
    padding: 61px 0 52px 0;
    text-align: center
}
.section-greeting div {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.section-greeting img {
		width: 100%;
}

.greeting_side {
    width: 30%;
    background-color: #0097c3;
    color: #fff;
}

.greeting_side img {
    width: 100%;
    margin: 8px 0 4px;
}

.greeting_side > div {
    display: block;
}

.section-greeting p {
    margin: 8px;
    line-height: 1.5;
    text-align: left;
}

.greeting_txt {
    width: 65%;
}
/*========================== greeting(인사말) 끝 ==========================*/




/*========================== give(후원하기) 시작 ==========================*/
.section-give {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 28px;
}
.give-slider_main {
    margin: 0 auto;
}
.give-slider {
    height: auto;
}

#bx-pager {
    text-align: center;
    margin-top: 10px;
    width: 100%;
    display: none;
}
#bx-pager a {
    display: inline-block;
    overflow: hidden;
    width: 100%;
}
#bx-pager a:nth-last-child(1) {
    margin-right: 0;
}
#bx-pager a img {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.bx-wrapper {
    margin-bottom: 30px;
}

.give-wrap {
    position: relative;
    clear: both;
    width: 100%;
    padding-top: 10px;
}
.give-wrap .filter{
    display: none;
    position: absolute;
    width: 100%;
    height:100%;
    background: #fff;
    opacity: 0;
    z-index: 100;
}
.give-wrap .give-step-bar {
    width: 100%;
    height: 10px;
    margin: 60px 0;
    text-align: center;
    background: #0097c3;
}

.give-wrap .give-step-bar li {
    display: inline-block;
    text-align: center;
    width: 5%;
    margin-top: -21px;
}
.give-wrap .give-step-bar li:nth-child(3n-1) {
    margin: 0 15%;
}

/* 후원하기 폼 step1 */
.give-wrap.step1 {
    height: 850px;
}
.give-wrap.step1 .give-step-bar li:nth-child(1) {
    text-align: center;
    font-weight: 600;
    width: 60px;
}
.give-wrap.step1 .give-step-bar li:nth-child(1):before {
    display: inline-block;
    margin-top: -7px;
    content: " ";
    border: solid 7px #0097c3;
    border-radius: 60px;
    background: #fff;
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    content:"\f00c";
    padding: 10px;
    font-size: 30px;
    color: #f38379;
    position: relative;
}
.give-wrap.step1 .give-step-bar li:nth-child(2),
.give-wrap.step1 .give-step-bar li:nth-child(3) {
    color: #959595;
    width: 60px;
}
.give-wrap.step1 .give-step-bar li:nth-child(2):before,
.give-wrap.step1 .give-step-bar li:nth-child(3):before{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    top: -11px;
    content: " ";
    background-color: #0097c3;
    border: solid 5px #fff;
    border-radius: 20px;
}
.give-wrap.step2,
.give-wrap.step3 {
    display: none;
}

/* 후원하기 폼 step2 */
.give-wrap.step2 {
    height: 400px;
}
.give-wrap.step2 .give-step-bar li:nth-child(2) {
    text-align: center;
    font-weight: 600;
    width: 64px;
}
.give-wrap.step2 .give-step-bar li:nth-child(2):before {
    display: inline-block;
    position: relative;
    top: -1px;
    content: " ";
    border: solid 7px #0097c3;
    border-radius: 60px;
    background: #fff;
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    content:"\f00c";
    padding: 10px;
    font-size: 30px;
    color: #f38379;
    position: relative;
}
.give-wrap.step2 .give-step-bar li:nth-child(1),
.give-wrap.step2 .give-step-bar li:nth-child(3) {
    color: #959595;
    width: 60px;
}
.give-wrap.step2 .give-step-bar li:nth-child(1):before,
.give-wrap.step2 .give-step-bar li:nth-child(3):before{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    top: -12px;
    content: " ";
    background-color: #0097c3;
    border: solid 5px #fff;
    border-radius: 20px;
}
.give-wrap.step3 {
    display: none;
}


/* 후원하기 폼 step3 */
.give-wrap.step3 {
    height: 400px;
}
.give-wrap.step3 .give-step-bar li:nth-child(3) {
    text-align: center;
    font-weight: 600;
    width: 60px;
}
.give-wrap.step3 .give-step-bar li:nth-child(3):before {
    display: inline-block;
    margin-top: -7px;
    content: " ";
    border: solid 7px #0097c3;
    border-radius: 60px;
    background: #fff;
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    content:"\f00c";
    padding: 10px;
    font-size: 30px;
    color: #f38379;
    position: relative;
}
.give-wrap.step3 .give-step-bar li:nth-child(1),
.give-wrap.step3 .give-step-bar li:nth-child(2) {
    color: #959595;
    width: 60px;
}
.give-wrap.step3 .give-step-bar li:nth-child(1):before,
.give-wrap.step3 .give-step-bar li:nth-child(2):before{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    top: -11px;
    content: " ";
    background-color: #0097c3;
    border: solid 5px #fff;
    border-radius: 20px;
}

/* 후원하기 폼 */
td {
    padding: 5px;
}
.sup_kind2, .man_num {
    display: none;
}

.all_form {
    width: 100%;
    margin: 100px auto 0;
    color: #303030;
}

.all_form table {
    width: 100%;
}

.info_form > div >span {
    display: inline-block;
    font-weight: 700;
    width: 100px;
    padding: 10px 8px;
    text-align: left;
}

.info_form > .check {
    margin-top: 100px;
}
.check label {
    padding-right: 0px;
    font-size: 12px;
}
.pay_check {
    text-align: left;
}
.pay_check label:after {
    content: "";
    display: block;
}

.info_form span {
    text-align: center;
    font-weight: 700;
    width: 100px;
}

.info_form table th {
    width: 100px;
    padding: 10px 8px;
    color: #303030;
    font-size: 14px;
}
.info_form table tr {
    padding: 25px 0;
}

.info_form input {
    line-height: 28px;
    border-color: #303030;
    border-width: 1px;
    text-align: left;
    font-size: 12px;
    margin: 3px;
    padding: 3px 5px;
    margin-top: 0px;
}
.info_form input[type=text]:focus,
.info_form input[type=text]:visited,
.info_form input[type=text]:active{
     outline: none;
    border-color: #f4847c;
}
.tel_width input {
    width: 50px;
}
#man_name, #man_birth, #group_name, #group_person, #group_birth,
#man_email, #group_num, #group_email, .email_back {
    width: 30%;
}
#man_address1, #group_address1 {
    width: 43%;
    max-width: 95px;
}
.add_btn {
    position: relative;
    top: 1px;
}
.man_num > td > input {
    width: 35%;
}

#man_tel, #group_tel, .email_select {
    border-color: #303030;
    position: relative;
    height: 36px;
    width: 65px;
    border-width: 1px;
    margin: 0 3px;
}
.email_select {
    width: 80px;
    font-size: 12px;
    position: relative;
    top: -0px;
}

td > div:nth-child(1) {
    padding: 5px 0 5px;
}


.form_btn {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}

.next_btn {
    background-color: #0097c3;
    border: 1px solid #c0c0c0;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 14px;
}

.next_btn:hover {
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    background-color: #060606;
}

.cancel_btn {
    background-color: #fff;
    border: 1px solid #c0c0c0;
    font-weight: 600;
    color: #060606;
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
}

.cancel_btn:hover {
    transition-property: background-color color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    background-color: #060606;
    color: #fff;
}
.all_form > .next_btn {
    margin-top: 30px;
}


/*========================== give(후원하기) 끝 ==========================*/
