/* Reset CSS */
* {
	margin: 0;
	padding: 0;
}

a {
	color: #fff;
	outline: none;
	text-decoration: none;
}

address {
	font-style: normal;
}

/* Default Layout */
body {
	font-family: "맑은 고딕", 'Malgun Gothic', dotum, sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #333;
	line-height: 1.4;
}

#wrap {
	position: relative;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

#container {
	width: 100%;
}

.block {
	width: 780px;
	margin: 0 auto;
}

.block-medium {
	width: 700px;
	margin: 0 auto;
}

.f1-upper {
    font-size: 40px;
}

.f1 {
	font-size: 26px;
	line-height: 1.5;
}
.f1-under {
	font-size: 26px;
}
.f2 {
	font-size: 18px;
}
.f3 {
	font-size: 17px;
	line-height: 1.5;
}
.f4 {
	font-size: 15px;
	line-height: 1.5;
}
.f5 {
	font-size: 14px;
	line-height: 1.5;
}
.f6 {
	font-size: 13px;
	line-height: 1.6;
}

.date{
	color: #0097c3;
}

.wave_img {
	height: 8px;
	margin: 10px auto 16px;
}

/* Header Layout */
#header {
	color: #fff;
	background: #000;
    position: fixed;
    width: 100%;
    z-index: 9991;
}

#header .header-block {
	min-height: 16px;
	padding: 4px 0;
}

#header .header-block div {
	float: left;
	min-height: 1px;
	line-height: 1.5em;
}

#header .header-block .contact {
	width: 66.6%;
}

#header .header-block .login {
	width: 33.3%;
	text-align: right;
}

/* Nav Layout */
nav {
    z-index: 99;
    position: absolute;
    top: 53px;
    width: 100%;
}

.nav-block {
    position: relative;
    min-height: 33px;
    margin-bottom: 13px;
}

.nav-block > h1 {
    float: left;
	margin: 0;
    padding: 0 8px;
}

.nav-block > h1 img {
    width: 200px;
}

.nav-block > h1 span {
    display: none;
}

.nav-block > .m_mask > ul {
    float: right;
    margin-right: 66px;
    position: relative;
    top: 10px;
}

.nav-block > .m_mask > ul > li {
    float: left;
    position: relative;
    display: block;
    margin-left: 22px;
		padding: 0 3px 1px;
    line-height: 2;
    text-align: center;
    font-weight: 700;
}

.nav-block > .m_mask > ul > li:after{
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -25px;
    display:inline-block;
    content:"";
    background-color: #fff;
    width: 50px;
    height: 3px;
    transition-property: bottom, background-color, opacity;
		transition-duration: 0.3s;
		transition-timing-function: ease-out;
    opacity: 0;
}

.nav-block > .m_mask > ul > li.over:after{
    display: block;
    background-color: #0097c3;
    bottom: 2px;
    opacity: 1;
}

.nav-block > .m_mask > ul > li > ul {
    display: none;
    float: left;
    position: absolute;
    top: 100%;
    right: auto;
    width: auto;
    min-width: 100%;
    padding: 20px 50px;
    text-align: center;
    font-weight: 400;
    background: rgba(6, 6, 6, 0.9);
}

.nav-block > .m_mask > ul > li:nth-child(1) > ul {
    left: -107px;
}
.nav-block > .m_mask > ul > li:nth-child(2) > ul {
    left: -58px;
}
.nav-block > .m_mask > ul > li:nth-child(3) > ul {
    left: -55px;
}
.nav-block > .m_mask > ul > li:nth-child(4) > ul {
    left: -50px;
}
.nav-block > .m_mask > ul > li:nth-child(5) {
	color: #fff;
	border: none !important;
	margin-top: -3px;
}
.nav-block > .m_mask > ul > li:nth-child(5) > a {
	font-size: 15px;
	color: #fff !important;
	background-color: #0097c3;
	padding: 6px 14px 4px;
}

.nav-block > .m_mask > ul > li:nth-child(5):hover a {
	color: #0097c3 !important;
	background-color: #fff;
	padding: 6px 14px 4px;
}

.nav-block > .m_mask > ul > li:nth-child(5):after {
	display: none;
}

.nav-block > .m_mask > ul > li > ul > li > a  {
    color: #b9b9b9;
    background-color: transparent;
    display: block;
    white-space: nowrap;
    clear: both;
}

.nav-block > .m_mask > ul > li:hover > a,
.nav-block > .m_mask > ul > li > a.active,
.nav-block > .m_mask > ul > li > ul > li > a.active{
    color: #0097c3;
}
.nav-block > .m_mask > ul > li > ul > li.over > a {
    color: #0097c3;
}

.nav-block > .m_mask > ul > li.over > ul {
    display: block;
}

.nav-block > .m_mask > ul > li.over > ul > li {
    display: block;
    margin-bottom: 5px;
    line-height: 2;
    text-align: center;
}

/*============= board 부분 =============*/
.board_wrap {
		display: table;
    margin-bottom: 40px;
		text-align: center;
}

.board_wrap .board_data {
	display: table-cell;
	width: 32%;
	color: #060606;
}

.board_wrap .board_data img {
	width: 100%;
}

.board_wrap .board_data > a {
	display: inline-block;
	width: 240px;
	height: 240px;
	overflow: hidden;
}

.board_wrap .board_data > * {
	display: inline-block;
	width: 240px;
	text-align: left;
}

.board_wrap .board_data > a {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
}

.board_wrap .board_data > a:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.board_wrap .board_data .title{
    margin: 20px 0 14px;
}

.board_wrap .board_data .title a{
    color:#333;
}

.board_wrap .board_data .title a:hover{
  transition-property: color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	color: #0097c3;
}

.board_wrap .board_data .title h3 {
	font-weight: 600;
	margin-bottom: 8px;
}

.board_wrap .board_data .btn a {
	display: inline-block;
	background-color: #0097c3;
	color: #fff;
	padding: 10px 18px;
	margin-top: 14px;
	text-align: center;
	font-weight: 600;
}

.board_wrap .board_data .btn a:hover {
	transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	background-color: #060606;
}

/*============= footer 부분 =============*/
footer {
	background-color: #060606;
	color: #fff;
}
.footer_in {
	padding: 20px 0;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}
.footer_in .addr {
	display: inline-block;
	margin-right: 100px;
}
.footer_in .addr .logo_bottom {
	display: inline-block;
	margin-right: 10px;
}

.footer_in .addr .logo_bottom img {
    width: 90%;
}

.footer_in .addr .footer_text {
	display: inline-block;
	line-height: 2;
	text-align: left;
	vertical-align: top;
}
.footer_in .addr .footer_text i {
	display: inline-block;
	width: 7px;
	padding: 0 10px;
}
.footer_in .addr .footer_text .bank {
	margin-left: 25px;
}
.footer_in .icon {
	display: inline-block;
	vertical-align: top;
}
.icon {
	display: inline-block;
}
.icon img {
	display: inline-block;
	width: 30px;
	padding: 0 0 0 5px;
}
.icon a:hover img {
	transform: scale(1.15);
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-o-transform: scale(1.15);
}
.icon a img {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
}
.return-top {
	position: fixed;
	z-index: 9990;
	right: 15px;
	bottom: 15px;
}
.return-top img {
	width: 45px;
}

/* ================================== main css 1280 ================================== */
/* Container Layout */
.slider {
	width: 100%;
}

.slider > div {
	position: relative;
	width: 100%;
	height: 533px;
}

.slider > div .background {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}

.slider > div:nth-child(1){
	background-color: #0097c3;
}
.slider > div:nth-child(1) .background{
	background-image: url('../images/slider01.jpg');
	opacity: 0.7;
}
.slider > div:nth-child(2) .background{
	background-image: url('../images/slider03.png');
}

.slider .text-block{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 533px;
	margin: -86px 0 0 -266px;
	color: #fff;
	text-align: center;
}

.slider .text-block.v2{
	position: absolute;
	top: 40%;
	left: auto;
	right: 22%;
	text-align: right;
}

.slider .text-block strong{
	display: block;
	margin-bottom: 20px;
}

.slider .text-block .btn a {
	display: inline-block;
	border: solid 3px #fff;
	margin-top: 40px;
	padding: 10px 25px 10px;
}

.slider .text-block .btn a:hover {
	background-color: #0097c3;
	border-color: #0097c3;;
}

/*============= 협회 소개 =============*/
#intro {
	background-color: #fff;
}

.intro-block {
	display: table;
	margin: 90px auto 80px;
	text-align: center;
	background-color: #fff;
	overflow: hidden;
}

.intro-block img {
	width: 100%;
}

.intro_img,
.intro_txt {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
}

.intro_img {
	padding: 0 2% 0 1%;
}

.intro_txt {
	text-align: left;
	color: #666666;
	padding: 0 1% 0 2%;
}

.intro_txt h2 {
	color: #060606;
}

.intro_txt strong {
	color: #666;
}

.intro_txt p {
	margin-top: 15px;
}

.intro_txt a:hover {
	transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	background-color: #060606;
}

.intro_txt .btn_intro {
	padding: 12px 25px;
	margin-top: 20px;
	background-color: #0097c3;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-weight: 600;
}

/*============= 3개의 아이콘그림 부분 =============*/
#ico {
	width: 100%;
	padding: 88px 0 84px 0;
	background-color: #f2f2f2;
	text-align: center;
}

.ico_txt {
	display: inline-block;
	width: 13%;
	margin: 0 9%;
}

.ico_txt a {
	display: inline-block;
	padding: 6px;
}

.ico_txt a:link,
.ico_txt a:visited {
	font-size: 20px;
	line-height: 33px;
	color: #060606;
	font-weight: 700;
}

.ico_txt a:hover {
	transition-property: color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	color: #0097c3;
}

.ico_txt img {
	width: 100%;
	margin-bottom: 5px;
}

/*============= 협회 활동 =============*/
#act {
	background-color: #fff;
	position: relative;
}

.act-block {
	position: relative;
	padding: 62px 0 38px;
}
.act-list:after {
	clear: both;
    content: "";
}
.act_title {
	margin: 0 auto;
	text-align: center;
	color: #060606;
	margin-bottom: 31px;
}

.act_title h2 {
	margin-bottom: 0;
}

.act_title p {
	display: inline-block;
	min-height: 28px;
	letter-spacing: 0.1px;
}

.board_data p {
    height: 90px;
}

/*============= 후원하기 영역 =============*/
.patronize {
	position: relative;
	background: #030303;
	color: #fff;
}
.patronize:before,
.patronize:after {
	display: table;
	line-height: 0;
	content: "";
}
.patronize:after {
	clear: both;
	display: table;
	line-height: 0;
	content: "";
}
.patronize>div {
	width: 50%;
}
.patronize .text-block {
	float: left;
}
.patronize .text-block:after {
	clear: both;
	display: table;
	line-height: 0;
	content: "";
}
.patronize .text-block section {
	float: right !important;
	max-width: 100%;
	width: 373px;
	padding: 98px 0 104px;
	font-size: 13px;
}
.patronize .text-block section:after {
	clear: both;
	display: table;
	line-height: 0;
	content: "";
}
.patronize .text-block section h2 {
	max-width: 290px;
	line-height: 1.35;
}
.patronize .text-block section p {
	line-height: 1.9;
	max-width: 310px;
}
.patronize .text-block section .button a {
	display: inline-block;
	margin-top: 15px;
	padding: 20px 32px;
	background: #0097c3;
	text-align: center;
	font-weight: 600;
}
.patronize .text-block section .button a:hover {
	transition-property: background-color color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	background-color: #fff;
	color: #0097c3;
}
.patronize .img-block {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	padding-left: 12px;
}
.patronize .img-block div {
	height: 100%;
	margin: 0 -8px;
	background-image: url('../images/korea flags_01.png');
	background-repeat: no-repeat;
	background-position: 0 61%;
	background-size: cover;
}

/*============= 하단 갤러리 =============*/
.main-gallery:after {
	clear: both;
	display: table;
	line-height: 0;
	content: "";
}
.main-gallery ul li {
	float: left;
	display: inline-block;
	position: relative;
	width: 12.5%;
    height: 133.3px;
    overflow: hidden;
    background-image: url('http://placehold.it/200x200');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-gallery ul li:nth-child(2) {
    background-image: url('../images/detail_txt.jpg');
}

.main-gallery ul li a {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.main-gallery ul li i {
	display: none;
	position: absolute;
	margin-top: 33%;
	left: 40%;
	border-radius: 50%;
	background-clip: padding-box;
	background-color: #0097c3;
	padding: 7%;
}

.main-gallery ul li:hover, .main-gallery ul li:hover i {
	z-index: 1;
	display: inline-block;
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.detail_photo {
    display: none;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.6);
}
.detail_photo .photo_table {
	display: table;
	width: 100%;
	height: 100%;
}
.detail_photo .photo_cell {
	display: table-cell;
	vertical-align: middle;
}
.detail_photo .photo_item {
	position: relative;
	display: inline-block;
	max-width: 70%;
	max-height: 700px;
}
.detail_photo .photo_item.limit {
	height: 700px;
}
.detail_photo .photo_item i{
    font-size: 70px;
    position: absolute;
	bottom: -56.6px;
    right: -56.6px;
    color: #fff;
}
.detail_photo .photo {
	width: 100%;
	height: 100%;
	padding: 10px;
	overflow-y: scroll;
	background: #fff;
}
.detail_photo .photo img {
	width: 100%;
}



/* ================================== sub css 1280 ================================== */

/*========================== sub common 파일 시작 ==========================*/
/* Nav Layout */
.main_img {
    width: 100%;
		color: #fff;
    background-position: center;
    background-size: cover;
    background-color: #333;
}

.main_img .title {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 250px 0 90px;
}

.title h2 {
    color: #fff;
    font-weight: 400;
}

.main_img > .title > .f3 {
    position: relative;
    color: #fff;
    word-spacing: 10px;
}

.background {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}


/*============= 본문 영역 =============*/
#section {
    background-color: #fff;
}
/*========================== sub common 파일 끝 ==========================*/




/*========================== board 파일 시작 ==========================*/

/*============= 협회 활동 =============*/

.section_board {
    margin: 82px auto 53px;
}

.section_board > .date {
    color: #0097c3;
}

/* 하단 페이지 숫자 */

.page {
    margin: 50px auto 66px;
    text-align: center;
}

.page > a:nth-child(1) {
    color: #0097c3;
}

.page a {
    display: inline-block;
    color: #060606;
    margin: 0 15px;
    font-weight: 600;
}

.page a:hover {
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    color: #0097c3;
}

/*========================== board 파일 끝 ==========================*/




/*========================== detail_page 파일 시작 ==========================*/

.section-detail {
    margin: 94px auto 0;
}

.section-detail .detail_title {
    text-align: center;
    line-height: 1.5;
}

.section-detail .detail_txt {
    width: 760px;
    padding: 40px 0 140px 0px;
    text-align: left;
    margin: 0 auto;
}

.section-detail .detail_txt img {
    padding-bottom: 16px;
    width: 100%;
}

.section-detail .detail_txt > ul {
    list-style-type: none;
    color: #666666;
}

.section-detail .detail_txt > ul > li {
    padding-bottom: 13px;
    line-height: 1.5;
}

.section-detail .date {
    padding: 4px 8px;
    margin: 4px;
    font-weight: 600px;
    text-align: center;
    color: #0097c3;
}

/*========================== detail_page 파일 끝 ==========================*/




/*========================== gallery 파일 시작 ==========================*/

.section-gallery {
    margin-top: 98px;
}

.section-gallery ul {
    margin-bottom: 20px;
    list-style-type: none;
}

.section-gallery ul li {
    min-width: 32.94%;
    display: inline-block;
}

.section-gallery ul li a {
    position: relative;
    display: inline-block;
    width: 246px;
    height: 246px;
    overflow: hidden;
}

.section-gallery ul li p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    padding: 0 5%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}

.section-gallery ul li i {
    display: none;
    z-index: 99;
    position: absolute;
    top: 43%;
    left: 43%;
    border-radius: 50%;
    background-clip: padding-box;
    background-color: #0097c3;
    padding: 7%;
}

.section-gallery ul li:hover i {
    display: inline-block;
}

.section-gallery ul li a:hover {
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.section-gallery ul li a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.section-gallery .page {
    margin-top: 50px;
}
/*========================== gallery 파일 끝 ==========================*/




/*========================== movie 파일 시작 ==========================*/

.movie {
    width: 800px;
    margin: 147px auto 60px;
}

.section_list_movie {
    margin: 0 auto 60px;
    padding-bottom: 60px;
    border-bottom: solid 2px #f2f2f2;
    list-style-type: none;
    color: #060606;
}

.movie > div:nth-last-child(1) {
    padding-bottom: px;
}

.section_list_movie .section_date_movie {
    color: #0097c3;
    letter-spacing: -0.2px;
    font-weight: 600px;
}

.section_color_movie .date {
    margin-top: 6px;
}

.section_list_movie p {
    color: #666666;
    line-height: 1.85;
    padding-top: 22px;
    margin: 2px 0 10px 0;
}
/*========================== movie 파일 끝 ==========================*/




/*========================== goal 협회목적 및 사업 시작 ==========================*/
.section-goal {
    padding: 98px 0 83px 0;
    line-height: 1.85;
}

.section-goal > div {
    padding: 20px;
    margin-bottom: 33px;
    position: relative;
    border: 3px solid #0097c3;
    border-radius: 30px;
}

.section-goal > div:nth-child(2n) {
    border-color: #f4847c;
}

.section-goal > div h2 {
    padding-bottom: 10px;
}

/*========================== goal 협회목적 및 사업 끝 ==========================*/




/*========================== error_page 시작 ==========================*/
.section-error {
    width: 100%;
    min-height: 100px;
    text-align: center;
    padding-top: 98px;
    line-height: 1.8;
    margin: 0 auto;
}

.error_img {
    width: 100%;
    min-height: 250px;
    background-image: url('../images/error_bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.section-error i {
    margin-right: 5px;
}

.section-error i,
.section-error p {
    display: inline-block;
    padding: 1px;
}

.section-error p span {
    color: #0097c3;
}

.line span {
    padding: 0 66px;
}

.line {
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

.section-error > div {
    margin: 10px;
    text-align: center;
}

.error_img {
    display: block;
    text-align: center;
}

.error_img > a {
    position: relative;
    top: 53px;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    font-weight: 600;
}

.error_img > a:hover {
    transition-property: background-color color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    background-color: #fff;
    color: #0097c3;
}
/*========================== error_page 끝 ==========================*/




/*========================== write_content 시작 ==========================*/
.section_write {
    width: 780px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}

.section_write label {
    display: inline-block;
    padding-right: 15px;
    padding-bottom: 20px;
}

.section_write > select {
    padding: 1px 15px;
    margin-right: 100px;
}

.section_write .title {
    width: 350px;
    text-align: center;
}

.section_write .thumb_img {
    margin: 0 auto;
    display: inline-block;
    float: left;
}

.section_write .thumb_upload {
    float: left;
    margin-left: ;
    padding-top: 1px;
}

.section_write .file_upload {
    margin-top: 30px;
    padding-bottom: 20px;
}

.section_write .radio {
    width: 100%;
    max-height: 10px;
    text-align: left;
    padding-bottom: 20px;
}

.section_write .radio input label {
    padding-right: 50px;
}

.section_write .radio input[type="radio"],
.radio-inline input[type="radio"] {
    margin-left: 0px;
}

.section_write .radio span {
    font-weight: 700;
    padding-right: 15px;
}

.file_upload a {
    margin-left: -400px;
}

.btn_upload {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn_upload:hover {
    color: #ffffff;
    background: #1fb4ff;
    background-image: -webkit-linear-gradient(top, #1fb4ff, #006eb8);
    background-image: -moz-linear-gradient(top, #1fb4ff, #006eb8);
    background-image: -ms-linear-gradient(top, #1fb4ff, #006eb8);
    background-image: -o-linear-gradient(top, #1fb4ff, #006eb8);
    background-image: linear-gradient(to bottom, #1fb4ff, #006eb8);
    text-decoration: none;
    text-decoration: none;
}

.btn-concrete {
    background-color: #7e8c8d;
    -webkit-box-shadow: 0 3px 0 #4e5b5c;
    box-shadow: 0 3px 0 #4e5b5c;
}

.btn-concrete:hover {
    background-color: #6a7879;
    text-decoration: none;
    color: #000;
}

.btn-concrete:active {
    top: 3px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-concrete {
    font-size: 18px;
    white-space: nowrap;
    width: 250px;
    padding: .8em 1.5em;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    line-height: 18px;
    display: block;
    zoom: 1;
    color: #fff;
    text-align: center;
    position: relative;
    margin: 0 auto;
    -webkit-transition: color .25s linear, background-color .25s linear;
    transition: color .25s linear, background-color .25s linear;
}

/*========================== write_content 끝 ==========================*/



/*========================== give(후원하기) 시작 ==========================*/
input[type=text] {
 padding: 3px 0;
 text-align: center;
 margin: 0px;
    vertical-align: middle;
}

.section-give {
    margin-bottom: 150px;
}
.give-slider_main {
    margin: 0 auto;
}

#bx-pager {
    text-align: center;
    margin-top: 50px;
    width: 100%;
}
#bx-pager a {
    display: inline-block;
    overflow: hidden;
    width: 18%;
    margin-right: 2.5%;
    float: left;
}
#bx-pager a:nth-last-child(1) {
    margin-right: 0;
}
#bx-pager a img {
    display: block;
    width: 100%;
}

.give-wrap {
    position: relative;
    padding-top: 66px;
    clear: both;
}
.give-wrap .filter{
    display: none;
    position: absolute;
    width: 100%;
    height:100%;
    background: #fff;
    opacity: 0;
    z-index: 100;
}
.give-wrap .give-step-bar {
    width: 100%;
    height: 10px;
    margin: 80px 0;
    text-align: center;
    background: #0097c3;
}

/*.give-wrap .give-step-bar li {
    position: relative;
    display: inline-block;
    top: 25px;
    width: 110px;
    padding: 50px 0;
    margin: 0 10%;
}
.give-wrap .give-step-bar li:before {
    position: absolute;
    top: -90px;
    left: 50%;
    margin-left: -65px;
    content: "";
    width: 110px;
    height: 110px;
    border-radius: 110px;
    background-color: #fff;
    border: 10px solid #0097c3;
} */



.give-wrap .give-step-bar li {
    display: inline-block;
    width: 8%;
    margin-top: -54px;
}
.give-wrap .give-step-bar li:nth-child(3n-1) {
    margin: 0 25%;
}

/* 후원하기 폼 step2 */
.give-wrap.step1 .give-step-bar li:nth-child(1) {
    text-align: center;
    font-weight: 600;
    width: 110px;
}
.give-wrap.step1 .give-step-bar li:nth-child(1):before {
    display: inline-block;
    margin-top: 1px;
    content: " ";
    border: solid 10px #0097c3;
    border-radius: 110px;
    background: #fff;
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    content:"\f00c";
    padding: 20px;
    font-size: 50px;
    color: #f38379;
}
.give-wrap.step1 .give-step-bar li:nth-child(2),
.give-wrap.step1 .give-step-bar li:nth-child(3) {
    color: #959595;
}
.give-wrap.step1 .give-step-bar li:nth-child(2):before,
.give-wrap.step1 .give-step-bar li:nth-child(3):before{
    display: inline-block;
    width: 30px;
    height: 30px;
    top: -26px;
    content: " ";
    background-color: #0097c3;
    border: solid 6px #fff;
    border-radius: 30px;
}
.give-wrap.step2,
.give-wrap.step3 {
    display: none;
}

/* 후원하기 폼 step2 */
.give-wrap.step2 th,
.give-wrap.step2 .pay_check {
    display: block;
    width: 100%;
}

td {
    padding: 5px;
    display: block;
}
.give-wrap.step2 .give-step-bar li:nth-child(2) {
    text-align: center;
    font-weight: 600;
    width: 110px;
}
.give-wrap.step2 .give-step-bar li:nth-child(2):before {
    display: inline-block;
    margin-top: -54px;
    content: " ";
    border: solid 10px #0097c3;
    border-radius: 110px;
    background: #fff;
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    content:"\f00c";
    padding: 20px;
    font-size: 50px;
    color: #f38379;
}
.give-wrap.step2 .give-step-bar li:nth-child(1),
.give-wrap.step2 .give-step-bar li:nth-child(3) {
    color: #959595;
}
.give-wrap.step2 .give-step-bar li:nth-child(1):before,
.give-wrap.step2 .give-step-bar li:nth-child(3):before{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    top: -25px;
    content: " ";
    background-color: #0097c3;
    border: solid 6px #fff;
    border-radius: 30px;
}

/* 후원하기 폼 step3 */
.give-wrap.step3 .give-step-bar li:nth-child(3) {
    text-align: center;
    font-weight: 600;
    width: 110px;
}
.give-wrap.step3 .give-step-bar li:nth-child(3):before {
    display: inline-block;
    margin-top: 1px;
    content: " ";
    border: solid 10px #0097c3;
    border-radius: 110px;
    background: #fff;
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    content:"\f00c";
    padding: 20px;
    font-size: 50px;
    color: #f38379;
}
.give-wrap.step3 .give-step-bar li:nth-child(1),
.give-wrap.step3 .give-step-bar li:nth-child(2) {
    color: #959595;
}
.give-wrap.step3 .give-step-bar li:nth-child(1):before,
.give-wrap.step3 .give-step-bar li:nth-child(2):before{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    top: -26px;
    content: " ";
    background-color: #0097c3;
    border: solid 6px #fff;
    border-radius: 30px;
}
.give-wrap step3 all_form {
    text-align: center;
}



/* 후원하기 폼 */
.sup_kind2, .man_num {
    display: none;
}

.all_form {
    width: 80%;
    margin: 120px auto 0;
    color: #303030;
}

.all_form table {
    width: 100%;
}

.info_form > div >span {
    display: inline-block;
    font-weight: 700;
    width: 115px;
    padding: 13px 23px 13px 13px;
}

.info_form table th {
    text-align: left;
    width: 115px;
    padding: 13px 23px 13px 13px;
}
.info_form input {
    line-height: 28px;
    border-color: #303030;
    border-width: 1.5px;
    text-align: left;
    font-size: 13px;
    margin: 0 4px;
    padding: 0 6px;
}

.info_form input[type=text]:focus,
.info_form input[type=text]:visited,
.info_form input[type=text]:active{
    outline: none;
    border-color: #f4847c;
}

.pay_check {
    padding: 0px 23px 13px 10px;
}

.tel_width input {
    width: 60px;
}
#man_tel, #group_tel, .email_select {
    border-color: #303030;
    height: 31px;
    width: 80px;
    border-width: 1.5px;
    margin: 0 5px;
    position: relative;
    top: 2px;
}
.add_btn {
    position: relative;
    top: 1px;
}

td > div:nth-child(1) {
    padding: 10px 0 10px;
}

td > div:nth-child(2) {
    padding-bottom: 0px;
    padding-bottom: 0px;
}


.form_btn {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}

.next_btn {
    background-color: #0097c3;
    border: 1px solid #c0c0c0;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    padding: 10px 19px;
    margin: 0 7px;
}

.next_btn:hover {
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    background-color: #060606;
}

.cancel_btn {
    background-color: #fff;
    border: 1px solid #c0c0c0;
    font-weight: 600;
    color: #060606;
    display: inline-block;
    padding: 10px 19px;
    margin: 0 7px;
}

.cancel_btn:hover {
    transition-property: background-color color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    background-color: #060606;
    color: #fff;
}
.all_form > .next_btn {
    margin-top: 40px;
}


/*========================== give(후원하기) 끝 ==========================*/

