/*========================== sub common 파일 시작 ==========================*/
/* Nav Layout */
.main_img {
    width: 100%;
    color: #fff;
    background-position: center;
    background-size: cover;
}

.main_img .title {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 250px 0 90px;
}

.title h2 {
    color: #fff;
    font-weight: 400;
}

#container1 > .title {
    position: relative;
    color: #fff;
    word-spacing: 10px;
}

.background {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.m1 {
     background-image: url('../images/m1_banner.png');
}
.m2 {
     background-image: url('../images/m2_banner.png');
}
.m3 {
     background-image: url('../images/m3_banner.png');
}
.m4 {
     background-image: url('../images/m4_banner.png');
}
.m5 {
     background-image: url('../images/m5_banner.png');
}


/*============= 본문 영역 =============*/
#section {
    background-color: #fff;
}
/*========================== sub common 파일 끝 ==========================*/




/*========================== board 파일 시작 ==========================*/

/*============= 협회 활동 =============*/

.section_board {
    margin: 124px auto 80px;
}

/* 하단 페이지 숫자 */

.page {
    margin: 0 auto 100px;
    text-align: center;
}

.page > a:nth-child(1) {
    color: #0097c3;
}

.page a {
    display: inline-block;
    color: #060606;
    margin: 0 15px;
    font-weight: 600;
}

.page a:hover {
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    color: #0097c3;
}

/*========================== board 파일 끝 ==========================*/




/*========================== detail_page 파일 시작 ==========================*/

.section-detail {
    margin: 142px auto 0;
}

.section-detail .detail_title {
    text-align: center;
    line-height: 1.5;
}

.section-detail .detail_txt {
    width: 760px;
    padding: 40px 0 140px 0px;
    text-align: left;
    margin: 0 auto;
}

.section-detail .detail_txt img {
    padding-bottom: 24px;
    width: 100%;
}

.section-detail .detail_txt > ul {
    list-style-type: none;
    color: #666666;
}

.section-detail .detail_txt > ul > li {
    padding-bottom: 20px;
    line-height: 1.5;
}

.section-detail .date {
    padding: 8px 15px;
    margin: 7px;
    letter-spacing: -0.2px;
    font-weight: 600px;
    text-align: center;
    color: #0097c3;
}

/*========================== detail_page 파일 끝 ==========================*/




/*========================== gallery 파일 시작 ==========================*/

.section-gallery {
    margin-top: 147px;
}

.section-gallery ul {
    margin-bottom: 30px;
    list-style-type: none;
}

.section-gallery ul li {
    min-width: 33%;
    display: inline-block;
}

.section-gallery ul li a {
    position: relative;
    display: inline-block;
    width: 370px;
    height: 370px;
    overflow: hidden;
}

.section-gallery ul li p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    padding: 0 5%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}

.section-gallery ul li i {
    display: none;
    z-index: 99;
    position: absolute;
    top: 43%;
    left: 43%;
    border-radius: 50%;
    background-clip: padding-box;
    background-color: #0097c3;
    padding: 7%;
}

.section-gallery ul li:hover i {
    display: inline-block;
}

.section-gallery ul li a:hover {
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.section-gallery ul li a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.section-gallery .page {
    margin-top: 60px;
}
/*========================== gallery 파일 끝 ==========================*/




/*========================== movie 파일 시작 ==========================*/

.movie {
    width: 800px;
    margin: 147px auto 60px;
}

.section_list_movie {
    margin: 0 auto 60px;
    padding-bottom: 60px;
    border-bottom: solid 2px #f2f2f2;
    list-style-type: none;
    color: #060606;
}

.movie > div:nth-last-child(1) {
    padding-bottom: px;
}

.section_list_movie .section_date_movie {
    color: #0097c3;
    letter-spacing: -0.2px;
    font-weight: 600px;
}

.section_color_movie .date {
    margin-top: 6px;
}

.section_list_movie p {
    color: #666666;
    line-height: 1.85;
    padding-top: 22px;
    margin: 2px 0 10px 0;
}
/*========================== movie 파일 끝 ==========================*/




/*========================== goal 협회목적 및 사업 시작 ==========================*/
.section-goal {
    padding: 147px 0 125px 0;
    line-height: 1.85;
}

.section-goal > div {
    padding: 30px;
    margin-bottom: 50px;
    position: relative;
    border: 3px solid #0097c3;
    border-radius: 30px;
}

.section-goal > div:nth-child(2n) {
    border-color: #f4847c;
}

.section-goal > div h2 {
    padding-bottom: 10px;
}

/*========================== goal 협회목적 및 사업 끝 ==========================*/




/*========================== error_page 시작 ==========================*/
.section-error {
    min-height: 100px;
    text-align: center;
    padding-top: 147px;
    line-height: 1.8;
    margin: 0 auto;
}

.error_img {
    width: 100%;
    min-height: 300px;
    background-image: url('../images/error_bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.section-error i {
    margin-right: 10px;
}

.section-error i,
.section-error p {
    display: inline-block;
    padding: 10px;
}

.section-error p span {
    color: #0097c3;
}

.line span {
    padding: 0 100px;
}

.line {
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

.section-error > div {
    margin: 20px;
    text-align: center;
}

.error_img {
    display: block;
    text-align: center;
}

.error_img > a {
    position: relative;
    top: 80px;
    background-color: #333;
    color: #fff;
    padding: 14px 29px;
    font-weight: 600;
}

.error_img > a:hover {
    transition-property: background-color color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    background-color: #fff;
    color: #0097c3;
}
/*========================== error_page 끝 ==========================*/




/*========================== write_content 시작 ==========================*/
.section_write {
    width: 780px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}

.section_write label {
    display: inline-block;
    padding-right: 15px;
    padding-bottom: 20px;
}

.section_write > select {
    padding: 1px 15px;
    margin-right: 100px;
}

.section_write .title {
    width: 350px;
    text-align: center;
}

.section_write .thumb_img {
    margin: 0 auto;
    display: inline-block;
    float: left;
}

.section_write .thumb_upload {
    float: left;
    margin-left: ;
    padding-top: 1px;
}

.section_write .file_upload {
    margin-top: 30px;
    padding-bottom: 20px;
}

.section_write .radio {
    width: 100%;
    max-height: 10px;
    text-align: left;
    padding-bottom: 20px;
}

.section_write .radio input label {
    padding-right: 50px;
}

.section_write .radio input[type="radio"],
.radio-inline input[type="radio"] {
    margin-left: 0px;
}

.section_write .radio span {
    font-weight: 700;
    padding-right: 15px;
}

.file_upload a {
    margin-left: -400px;
}

.btn_upload {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn_upload:hover {
    color: #ffffff;
    background: #1fb4ff;
    background-image: -webkit-linear-gradient(top, #1fb4ff, #006eb8);
    background-image: -moz-linear-gradient(top, #1fb4ff, #006eb8);
    background-image: -ms-linear-gradient(top, #1fb4ff, #006eb8);
    background-image: -o-linear-gradient(top, #1fb4ff, #006eb8);
    background-image: linear-gradient(to bottom, #1fb4ff, #006eb8);
    text-decoration: none;
    text-decoration: none;
}

.btn-concrete {
    background-color: #7e8c8d;
    -webkit-box-shadow: 0 3px 0 #4e5b5c;
    box-shadow: 0 3px 0 #4e5b5c;
}

.btn-concrete:hover {
    background-color: #6a7879;
    text-decoration: none;
    color: #000;
}

.btn-concrete:active {
    top: 3px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-concrete {
    font-size: 18px;
    white-space: nowrap;
    width: 250px;
    padding: .8em 1.5em;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    line-height: 18px;
    display: block;
    zoom: 1;
    color: #fff;
    text-align: center;
    position: relative;
    margin: 0 auto;
    -webkit-transition: color .25s linear, background-color .25s linear;
    transition: color .25s linear, background-color .25s linear;
}

/*========================== write_content 끝 ==========================*/



/*========================== history(연혁 및 본부) / license(법인허가) 시작 ==========================*/
.section-history, .section-or {
    padding: 147px 0 125px 0;
    text-align: center;
}

.section-history img, .section-or img {
    width: 100%;
    margin-bottom: 100px;
    border: 2px solid #b1b1b1;
    box-shadow: 2px 2px 4px #cecece;
}

/*========================== history(연혁 및 본부) 끝 ==========================*/



/*========================== greeting(인사말) 시작 ==========================*/
.section-greeting {
    margin: 0 auto;
    padding: 147px 0 125px 0;
    text-align: center
}
.section-greeting div {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.greeting_side {
    width: 30%;
    background-color: #0097c3;
    color: #fff;
}

.greeting_side img {
    margin: 20px 0 10px;
}

.greeting_side > div {
    display: block;
}

.section-greeting p {
    margin: 20px;
    line-height: 1.5;
    text-align: left;
}

.greeting_txt {
    width: 65%;
}
/*========================== greeting(인사말) 끝 ==========================*/




/*========================== give(후원하기) 시작 ==========================*/
.section-give {
    margin-bottom: 80px;
}
.give-slider {
    height: 800px;
    font-size: 80px;
    color: #fff;
    background: #247835;
}
.give-wrap {
    position: relative;
    padding: 10px 0;
}
.give-wrap .filter{
    display: none;
    position: absolute;
    width: 100%;
    height:100%;
    background: #fff;
    opacity: 0;
}
.give-wrap .give-step-bar {
    width: 100%;
    height: 10px;
    margin: 80px 0;
    text-align: center;
    background: #55aaff;
}
.give-wrap .give-step-bar li {
    display: inline-block;
    width: 5%;
}
.give-wrap .give-step-bar li:nth-child(3n-1) {
    margin: 0 40%;
}
.give-wrap .give-step-bar li:before {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: -14px;
    content: " ";
    border: solid 4px #55aaff;
    border-radius: 30px;
    background: #fff;
}
.give-wrap.step1 .give-step-bar li:nth-child(1):before {
    background-color: #55aaff;
}
.give-wrap.step2,
.give-wrap.step3 {
    display: none;
}
.give-wrap.step2 .give-step-bar li:nth-child(1):before,
.give-wrap.step2 .give-step-bar li:nth-child(2):before {
    background-color: #55aaff;
}
.give-wrap.step3 .give-step-bar li:before {
    background-color: #55aaff;
}
.give-wrap .give-step-content {
    height: 800px;
    background: #55aaff;
}



/* 후원하기 폼 */
.sup_kind2, .man_num {
    display: none;
}

.form_block .all_form {
    width: 70%;
    margin: 0 auto;
}

.all_form table {
    width: 100%;
}

.check label {
    padding-right: 15px;
}

.info_form {
    border-top: 2px solid #1c1c1c;
    border-bottom: 2px solid #1c1c1c;
}

.info_form span {
    display: inline-block;
    font-weight: 700;
    width: 155px;
    padding: 12px 30px 12px 20px;
}

.info_form table th {
    text-align: left;
    width: 155px;
    padding: 12px 30px 12px 20px;
}
.info_form table input {
    line-height: 20px;
}


.btn_right {
    width: 70%;
    margin: 0 auto;
    text-align: right;
    padding-top: 60px;
}

.btn_right .next_btn {
    background-color: #0097c3;
    border: 1px solid #c0c0c0;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    padding: 4px 7px;
}

.btn_right .cancel_btn {
    background-color: #fff;
    border: 1px solid #c0c0c0;
    font-weight: 600;
    color: #333;
    display: inline-block;
    padding: 4px 7px;
}
/*========================== give(후원하기) 끝 ==========================*/
