/*========================== sub common 파일 시작 ==========================*/
/* Nav Layout */
.main_img .title {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 165px 0 59px;
}

.title h2 {
    font-size: 39px;
    color: #fff;
    font-weight: 400;
}

.title div {
    position: relative;
    color: #fff;
    font-size: 12px;
    margin-top: 23px;
    word-spacing: 10px;
    font-weight: 400;
}
/*========================== sub common 파일 끝 ==========================*/




/*========================== board 파일 시작 ==========================*/

/*============= 협회 활동 =============*/
.section-block_board {
    padding: 81px 0 89px;
    width: 792px;
    min-height: 562px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

.section_list_board {
    width: 244px;
    height: 409px;
    padding: 0 10px;
    list-style-type: none;
    color: #060606;
    float: left;
    text-align: left;
}

.section_list_board img {
    width: 240px;
    height: 151px;
}

.section_list_board h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 25px 0 8px 0;
}

.section_list_board .section_date_board {
    color: #0097c3;
    letter-spacing: -0.2px;
    font-size: 11px;
    font-weight: 600px;
}

.section_list_board p {
    color: #666666;
    width: 244px;
    min-height: 80px;
    font-size: 11px;
    line-height: 1.85;
    padding-top: 14px;
    margin: 2px 0 10px 0;
}

.section_list_board .btn_section_board a {
    display: inline-block;
    background-color: #0097c3;
    color: #fff;
    padding: 9px 19px;
    margin-top: 19px;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
}

.btn_section_board a:link,
.btn_section_board a:visited {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
}

.btn_section_board a:hover {
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    background-color: #060606;
}

/* 하단 페이지 숫자 */
.page {
    margin-top: 30px;
}

.page a {
    display: inline-block;
    color: #060606;
    margin: 0 15px;
    font-size: 11px;
    font-weight: 600;
}
/*========================== board 파일 끝 ==========================*/




/*========================== detail_page 파일 시작 ==========================*/
.block_detail {
    width: 792px;
    margin: 0 auto;
    padding: 0;
}

.section-block_detail {
    width: 501px;
}

.detail_title_detail {
    margin-top: 81px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
}

.detail_img {
    width: 501px;
    margin-right: 290px;
    min-height: 330px;
    padding: 40px 0 140px 0px;
    text-align: left;
}
/*========================== detail_page 파일 끝 ==========================*/




/*========================== gallery 파일 시작 ==========================*/
.block_gallery {
    width: 792px;
    margin: 0 auto;
}

.section-block_gallery {
    min-height: 859px;
    padding: 97px 0 82px 0;
}

.section-block_gallery ul {
    margin-bottom: 19px;
    list-style-type: none;
    font-size: 0;
}

.section-block_gallery ul li {
    position: relative;
    min-width: 244px;
    min-height: 244px;
    margin: 0 10px;
    display: inline-block;
    font-size: 11px;
}

.section-block_gallery ul li a {
    display: inline-block;
    width: 244px;
    height: 244px;
    overflow: hidden;
}

.section-block_gallery ul li i {
    display: none;
    z-index: 99;
    position: absolute;
    top: 43%;
    left: 43%;
    border-radius: 50%;
    background-clip: padding-box;
    background-color: #0097c3;
    padding: 7%;
}

.section-block_gallery ul li img {
    display: block;
    min-width: 244px;
}
/*========================== gallery 파일 끝 ==========================*/




/*========================== movie 파일 시작 ==========================*/

.section-block_movie {
    position: relative;
    padding: 97px 0 82px 0;
}

.section_list_movie {
    width: 528px;
    margin: 0 auto 39px;
    padding-bottom: 39px;
    border-bottom: solid 2px #f2f2f2;
    list-style-type: none;
    color: #060606;
}

.section_list_movie .section_date_movie {
    color: #0097c3;
    letter-spacing: -0.2px;
    font-size: 11px;
    font-weight: 600px;
}

.section_list_movie p {
    color: #666666;
    font-size: 11px;
    line-height: 1.85;
    padding-top: 14px;
    margin: 2px 0 10px 0;
}
/*========================== movie 파일 끝 ==========================*/




/*========================== goal 협회목적 및 사업 시작 ==========================*/
.section-block_goal {
    width: 462px;
    min-height: 528px;
    padding: 97px 0 82px 0;
    font-size: 11px;
    line-height: 1.85;
}

.section-block_goal > div {
    padding: 19px;
    margin-bottom: 33px;
    position: relative;
    border: 3px solid #0097c3;
    border-radius: 19px;
}
/*========================== goal 협회목적 및 사업 끝 ==========================*/




/*========================== error_page 시작 ==========================*/
.section-block_error {
    width: 528px;
    min-height: 66px;
    font-size: 11px;
    text-align: center;
    padding-top: 97px;
    line-height: 1.8;
    margin: 0 auto;
}

.error_img {
    width: 100%;
    min-height: 198px;
    background-image: url('../images/error_bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.section-block_error i,
.section-block_error p {
    display: inline-block;
    font-size: 24px;
    padding: 10px;
}

.line span {
    padding: 0 66px;
}

.section-block_error > div {
    padding: 20px;
    text-align: left;
    width: 297px;
    margin: 0 auto;
}

.error_img > a {
    position: relative;
    top: 52px;
    background-color: #333;
    color: #fff;
    padding: 9px 19px;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
}
/*========================== error_page 끝 ==========================*/




/*========================== write_content 시작 ==========================*/
.section_write {
    width: 780px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}

.section_write label {
    display: inline-block;
    padding-right: 15px;
    padding-bottom: 20px;
}

.section_write > select {
    padding: 1px 15px;
    margin-right: 100px;
}

.section_write .title {
    width: 350px;
    text-align: center;
}

.section_write .thumb_img {
    margin: 0 auto;
    display: inline-block;
    float: left;
}

.section_write .thumb_upload {
    float: left;
    margin-left: ;
    padding-top: 1px;
}

.section_write .file_upload {
    margin-top: 30px;
    padding-bottom: 20px;
}

.section_write .radio {
    width: 100%;
    max-height: 10px;
    text-align: left;
    padding-bottom: 20px;
}

.section_write .radio input label {
    padding-right: 50px;
}

.section_write .radio input[type="radio"],
.radio-inline input[type="radio"] {
    margin-left: 0px;
}

.section_write .radio span {
    font-weight: 700;
    padding-right: 15px;
}

.file_upload a {
    margin-left: -400px;
}

.btn_upload {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn_upload:hover {
    color: #ffffff;
    background: #1fb4ff;
    background-image: -webkit-linear-gradient(top, #1fb4ff, #006eb8);
    background-image: -moz-linear-gradient(top, #1fb4ff, #006eb8);
    background-image: -ms-linear-gradient(top, #1fb4ff, #006eb8);
    background-image: -o-linear-gradient(top, #1fb4ff, #006eb8);
    background-image: linear-gradient(to bottom, #1fb4ff, #006eb8);
    text-decoration: none;
    text-decoration: none;
}

.btn-concrete {
    background-color: #7e8c8d;
    -webkit-box-shadow: 0 3px 0 #4e5b5c;
    box-shadow: 0 3px 0 #4e5b5c;
}

.btn-concrete:hover {
    background-color: #6a7879;
    text-decoration: none;
    color: #000;
}

.btn-concrete:active {
    top: 3px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-concrete {
    font-size: 18px;
    white-space: nowrap;
    width: 250px;
    padding: .8em 1.5em;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    line-height: 18px;
    display: block;
    zoom: 1;
    color: #fff;
    text-align: center;
    position: relative;
    margin: 0 auto;
    -webkit-transition: color .25s linear, background-color .25s linear;
    transition: color .25s linear, background-color .25s linear;
}

/*========================== write_content 끝 ==========================*/
